body {
// https://accessiblepalette.com/?lightness=98.2,93.9,85,76.2,67.4,57.8,48,40.2,31.8,24.9&fe6f5c=0,0&ffd863=0,-10&5C7A63=0,0&3d7e7b=0,10&3376ad=0,0&8E6787=1,15&808080=0,0
// https://accessiblepalette.com/?lightness=98.2%2C93.9%2C87.5%2C82.5%2C74.8%2C66%2C48.4%2C30.6%2C19.4%2C10&fe6f5c=0%2C0&ffd863=0%2C-10&5C7A63=0%2C-3&3d7e7b=0%2C10&3376ad=0%2C0&8e6787=0%2C2&808080=0%2C0

  // Red
  --red-0: #f6d3d3;
  --red-1: #f3c2c1;
  --red-2: #eda6a5;
  --red-3: #e68584;
  --red-4: #c24c4a;
  --red-5: #7a302f;
  --red-6: #50201f;
  --red-1-rgb: 243,194,193;
  --red-2-rgb: 237,166,165;
  --red-4-rgb: 194,76,74;
  --red-5-rgb: 122,48,47;

  // Orange
  --orange-0: #f1d6cb;
  --orange-1: #ecc5b7;
  --orange-2: #e3ac97;
  --orange-3: #da8d73;
  --orange-4: #9d6553;
  --orange-5: #633f34;
  --orange-6: #412922;
  --orange-1-rgb: 236,197,183;
  --orange-2-rgb: 227,172,151;
  --orange-4-rgb: 157,101,83;
  --orange-5-rgb: 99,63,52;

  // Yellow
  --yellow-bright: #fdfaf3;
  --yellow-0: #f1d9a9;
  --yellow-1: #ecc986;
  --yellow-2: #e0b15e;
  --yellow-3: #c49a52;
  --yellow-4: #8d6e3b;
  --yellow-5: #594525;
  --yellow-1-rgb: 241,217,169;
  --yellow-2-rgb: 236,201,134;
  --yellow-3-rgb: 196,154,82;
  --yellow-4-rgb: 196,154,82;

  // Gray-Green
  --green-0: #d6ddd7;
  --green-1: #c5d0c8;
  --green-2: #adbcb0;
  --green-3: #91a695;
  --green-4: #5c7a62;
  --green-5: #3a4d3e;
  --green-6: #263228;
  --green-1-rgb: 197,208,200;
  --green-2-rgb: 173,188,176;
  --green-4-rgb: 92,122,98;
  --green-5-rgb: 58,77,62;

  // Cyan
  --cyan-0: #bbe3e3;
  --cyan-1: #9fd8d8;
  --cyan-2: #74c6c5;
  --cyan-3: #41b0b0;
  --cyan-4: #058080;
  --cyan-5: #024151;
  --cyan-6: #013535;
  --cyan-1-rgb: 187,210,209;
  --cyan-2-rgb: 158,190,188;
  --cyan-4-rgb: 62,125,121;
  --cyan-5-rgb: 39,79,76;

  // Blue
  --blue-0: #ceddeb;
  --blue-1: #bbd0e4;
  --blue-2: #9fbbd8;
  --blue-3: #7fa4ca;
  --blue-4: #4575ae;
  --blue-5: #2c496e;
  --blue-6: #1d3048;
  --blue-1-rgb: 187,208,228;
  --blue-2-rgb: 159,187,216;
  --blue-4-rgb: 69,117,174;
  --blue-5-rgb: 44,73,110;

  // Purple
  --purple-0: #e2d9e1;
  --purple-1: #d7c9d5;
  --purple-2: #c6b2c3;
  --purple-3: #b399ae;
  --purple-4: #8e6787;
  --purple-5: #594054;
  --purple-6: #392a37;
  --purple-1-rgb: 215,201,213;
  --purple-2-rgb: 198,178,195;
  --purple-4-rgb: 142,103,135;
  --purple-5-rgb: 89,64,84;

  // Pink
  --pink-0: #efd5dc;
  --pink-1: #e8c4ce;
  --pink-2: #deaab8;
  --pink-3: #d38d9f;
  --pink-4: #a75c70;
  --pink-5: #693a46;
  --pink-6: #45262e;
  --pink-1-rgb: 232,196,206;
  --pink-2-rgb: 222,170,184;
  --pink-4-rgb: 167,92,112;
  --pink-5-rgb: 105,58,70;

  // Gray
  --gray-light-8:#fafafa;
  --gray-light-7:#f8f8f8;
  --gray-light-6:#f5f5f5;
  --gray-light-5:#f1f1f1;
  --gray-light-4:#ebebeb;
  --gray-light-3:#e3e3e3;
  --gray-light-2:#dbdbdb; // 0
  --gray-light-1:#cdcdcd; // 1
  --gray:        #b8b8b8; // 2
  --gray-dark-1: #a0a0a0; // 3
  --gray-dark-2: #898989;
  --gray-dark-3: #737373; // 4
  --gray-dark-4: #5d5d5d;
  --gray-dark-5: #484848; // 5
  --gray-dark-6: #3f3f3f;
  --gray-dark-7: #2f2f2f; // 6
  --gray-dark-75:#272727;
  --gray-dark-8: #212121;
  --gray-dark-85:#1e1e1e;
  --gray-dark-9: #1b1b1b;
  --gray-dark-10:#070707;

  // Pink accent
  --accent-h: 344;
  --accent-s: 30%;
  --accent-l: 51%;

  // Default primary / secondary accent
  --primary-accent-0: var(--purple-0);
  --primary-accent-1: var(--purple-1);
  --primary-accent-2: var(--purple-2);
  --primary-accent-3: var(--purple-3);
  --primary-accent-4: var(--purple-4);
  --primary-accent-5: var(--purple-5);
  --primary-accent-6: var(--purple-6);
  --primary-accent-1-rgb: var(--purple-1-rgb);
  --primary-accent-4-rgb: var(--purple-4-rgb);

  --secondary-accent-0: var(--green-0);
  --secondary-accent-1: var(--green-1);
  --secondary-accent-2: var(--green-2);
  --secondary-accent-3: var(--green-3);
  --secondary-accent-4: var(--green-4);
  --secondary-accent-5: var(--green-5);
  --secondary-accent-6: var(--green-6);
  --secondary-accent-1-rgb: var(--green-1-rgb);
}
