:root {
// https://accessiblepalette.com/?lightness=98.2,93.9,85,76.2,67.4,57.8,48,40.2,31.8,24.9&fe6f5c=0,0&ffd863=0,-10&5C7A63=0,0&3d7e7b=0,10&3376ad=0,0&8E6787=1,15&808080=0,0
// https://accessiblepalette.com/?lightness=98.2%2C93.9%2C87.5%2C82.5%2C74.8%2C66%2C48.4%2C30.6%2C19.4%2C10&fe6f5c=0%2C0&ffd863=0%2C-10&5C7A63=0%2C-3&3d7e7b=0%2C10&3376ad=0%2C0&8e6787=0%2C2&808080=0%2C0

  // Coral-Red
  --red-0: #efd6d3;
  --red-1: #e8c5c0;
  --red-2: #dfada6;
  --red-3: #d48f86;
  --red-4: #bc5345;
  --red-5: #76332a;
  --red-6: #4e221c;
  --red-1-rgb: 232,197,192;
  --red-2-rgb: 223,173,166;
  --red-4-rgb: 188,83,69;
  --red-5-rgb: 118,51,42;

  // Yellow
  --yellow-bright: #fffaea;
  --yellow-0: #ffecb6;
  --yellow-1: #ffd663;
  --yellow-2: #f5c75d;
  --yellow-3: #ddb254;
  --yellow-4: #c29b49;
  --yellow-5: #8c6f35;
  --yellow-1-rgb: 255,236,182;
  --yellow-2-rgb: 245,199,93;
  --yellow-4-rgb: 194,155,73;

  // Gray-Green
  --green-0: #d6ddd7;
  --green-1: #c6d0c8;
  --green-2: #adbcb0;
  --green-3: #92a595;
  --green-4: #5c7a62;
  --green-5: #3b4c3d;
  --green-6: #263228;
  --green-1-rgb: 198,208,200;
  --green-2-rgb: 173,188,176;
  --green-4-rgb: 92,122,98;

  // turquoise / teal
  --teal-0: #cedfde;
  --teal-1: #bbd2d2;
  --teal-2: #9ebebf;
  --teal-3: #7ca8a9;
  --teal-4: #3a7d7f;
  --teal-5: #244f50;
  --teal-6: #183335;
  --teal-1-rgb: 187,210,210;
  --teal-2-rgb: 158,190,191;
  --teal-4-rgb: 58,125,127;

  // blue
  --blue-0: #cddeeb;
  --blue-1: #bad0e3;
  --blue-2: #9bbcd7;
  --blue-3: #79a5c9;
  --blue-4: #3577ae;
  --blue-5: #204b6e;
  --blue-6: #153148;
  --blue-1-rgb: 186,208,227;
  --blue-2-rgb: 155,188,215;
  --blue-4-rgb: 53,119,174;

  // purple
  --purple-0: #e3d9e1;
  --purple-1: #d7c9d5;
  --purple-2: #c6b2c2;
  --purple-3: #b399ae;
  --purple-4: #8e6786;
  --purple-5: #594054;
  --purple-6: #392a37;
  --purple-1-rgb: 215,201,213;
  --purple-2-rgb: 198,178,194;
  --purple-4-rgb: 142,103,134;

  // Pink
  --pink-0: #efd5dc;
  --pink-1: #e8c4ce;
  --pink-2: #deaab8;
  --pink-3: #d38d9f;
  --pink-4: #a75c70;
  --pink-5: #693a46;
  --pink-6: #45262e;
  --pink-1-rgb: 232,196,206;
  --pink-2-rgb: 222,170,184;
  --pink-4-rgb: 167,92,112;
  --pink-5-rgb: 105,58,70;

  // gray
  --gray-light-8:#fafafa;
  --gray-light-7:#f8f8f8;
  --gray-light-6:#f5f5f5;
  --gray-light-5:#f1f1f1;
  --gray-light-4:#ebebeb;
  --gray-light-3:#e3e3e3;
  --gray-light-2:#dbdbdb; // 0
  --gray-light-1:#cdcdcd; // 1
  --gray:        #b8b8b8; // 2
  --gray-dark-1: #a0a0a0; // 3
  --gray-dark-2: #898989;
  --gray-dark-3: #737373; // 4
  --gray-dark-4: #5d5d5d;
  --gray-dark-5: #484848; // 5
  --gray-dark-6: #3f3f3f;
  --gray-dark-7: #2f2f2f; // 6
  --gray-dark-75:#272727;
  --gray-dark-8: #212121;
  --gray-dark-85:#1e1e1e;
  --gray-dark-9: #1b1b1b;
  --gray-dark-10:#070707;

  /* Defaults: purple/green */
  --primary-accent-0: var(--purple-0);
  --primary-accent-1: var(--purple-1);
  --primary-accent-2: var(--purple-2);
  --primary-accent-3: var(--purple-3);
  --primary-accent-4: var(--purple-4);
  --primary-accent-5: var(--purple-5);
  --primary-accent-6: var(--purple-6);
  --primary-accent-1-rgb: var(--purple-1-rgb);
  --primary-accent-4-rgb: var(--purple-4-rgb);

  --secondary-accent-0: var(--green-0);
  --secondary-accent-1: var(--green-1);
  --secondary-accent-2: var(--green-2);
  --secondary-accent-3: var(--green-3);
  --secondary-accent-4: var(--green-4);
  --secondary-accent-5: var(--green-5);
  --secondary-accent-6: var(--green-6);
  --secondary-accent-1-rgb: var(--green-1-rgb);
}
.primary-accent-green {
  --primary-accent-0: var(--green-0);
  --primary-accent-1: var(--green-1);
  --primary-accent-2: var(--green-2);
  --primary-accent-3: var(--green-3);
  --primary-accent-4: var(--green-4);
  --primary-accent-5: var(--green-5);
  --primary-accent-6: var(--green-6);
  --primary-accent-1-rgb: var(--green-1-rgb);
  --primary-accent-4-rgb: var(--green-4-rgb);
}
.primary-accent-teal {
  --primary-accent-0: var(--teal-0);
  --primary-accent-1: var(--teal-1);
  --primary-accent-2: var(--teal-2);
  --primary-accent-3: var(--teal-3);
  --primary-accent-4: var(--teal-4);
  --primary-accent-5: var(--teal-5);
  --primary-accent-6: var(--teal-6);
  --primary-accent-1-rgb: var(--teal-1-rgb);
  --primary-accent-4-rgb: var(--teal-4-rgb);
}
.primary-accent-blue {
  --primary-accent-0: var(--blue-0);
  --primary-accent-1: var(--blue-1);
  --primary-accent-2: var(--blue-2);
  --primary-accent-3: var(--blue-3);
  --primary-accent-4: var(--blue-4);
  --primary-accent-5: var(--blue-5);
  --primary-accent-6: var(--blue-6);
  --primary-accent-1-rgb: var(--blue-1-rgb);
  --primary-accent-4-rgb: var(--blue-4-rgb);
}
.primary-accent-purple {
  --primary-accent-0: var(--purple-0);
  --primary-accent-1: var(--purple-1);
  --primary-accent-2: var(--purple-2);
  --primary-accent-3: var(--purple-3);
  --primary-accent-4: var(--purple-4);
  --primary-accent-5: var(--purple-5);
  --primary-accent-6: var(--purple-6);
  --primary-accent-1-rgb: var(--purple-1-rgb);
  --primary-accent-4-rgb: var(--purple-4-rgb);
}
.primary-accent-pink {
  --primary-accent-0: var(--red-0);
  --primary-accent-1: var(--red-1);
  --primary-accent-2: var(--red-2);
  --primary-accent-3: var(--red-3);
  --primary-accent-4: var(--red-4);
  --primary-accent-5: var(--red-5);
  --primary-accent-6: var(--red-6);
  --primary-accent-1-rgb: var(--red-1-rgb);
  --primary-accent-4-rgb: var(--red-4-rgb);
}
.secondary-accent-green {
  --secondary-accent-0: var(--green-0);
  --secondary-accent-1: var(--green-1);
  --secondary-accent-2: var(--green-2);
  --secondary-accent-3: var(--green-3);
  --secondary-accent-4: var(--green-4);
  --secondary-accent-5: var(--green-5);
  --secondary-accent-6: var(--green-6);
  --secondary-accent-1-rgb: var(--green-1-rgb);
  --secondary-accent-4-rgb: var(--green-4-rgb);
}
.secondary-accent-teal {
  --secondary-accent-0: var(--teal-0);
  --secondary-accent-1: var(--teal-1);
  --secondary-accent-2: var(--teal-2);
  --secondary-accent-3: var(--teal-3);
  --secondary-accent-4: var(--teal-4);
  --secondary-accent-5: var(--teal-5);
  --secondary-accent-6: var(--teal-6);
  --secondary-accent-1-rgb: var(--teal-1-rgb);
  --secondary-accent-4-rgb: var(--teal-4-rgb);
}
.secondary-accent-blue {
  --secondary-accent-0: var(--blue-0);
  --secondary-accent-1: var(--blue-1);
  --secondary-accent-2: var(--blue-2);
  --secondary-accent-3: var(--blue-3);
  --secondary-accent-4: var(--blue-4);
  --secondary-accent-5: var(--blue-5);
  --secondary-accent-6: var(--blue-6);
  --secondary-accent-1-rgb: var(--blue-1-rgb);
  --secondary-accent-4-rgb: var(--blue-4-rgb);
}
.secondary-accent-purple {
  --secondary-accent-0: var(--purple-0);
  --secondary-accent-1: var(--purple-1);
  --secondary-accent-2: var(--purple-2);
  --secondary-accent-3: var(--purple-3);
  --secondary-accent-4: var(--purple-4);
  --secondary-accent-5: var(--purple-5);
  --secondary-accent-6: var(--purple-6);
  --secondary-accent-1-rgb: var(--purple-1-rgb);
  --secondary-accent-4-rgb: var(--purple-4-rgb);
}
.secondary-accent-pink {
  --secondary-accent-0: var(--red-0);
  --secondary-accent-1: var(--red-1);
  --secondary-accent-2: var(--red-2);
  --secondary-accent-3: var(--red-3);
  --secondary-accent-4: var(--red-4);
  --secondary-accent-5: var(--red-5);
  --secondary-accent-6: var(--red-6);
  --secondary-accent-1-rgb: var(--red-1-rgb);
  --secondary-accent-4-rgb: var(--red-4-rgb);
}
