:root {
// https://accessiblepalette.com/?lightness=98.2,93.9,85,76.2,67.4,57.8,48,40.2,31.8,24.9&fe6f5c=0,0&ffd863=0,-10&5C7A63=0,0&3d7e7b=0,10&3376ad=0,0&8E6787=1,15&808080=0,0

  // Coral-Red
   --50-red: #fdf9f9;
  --100-red: #f7ebea;
  --200-red: #eacecc;
  --300-red: #deb1ae;
  --400-red: #d29590;
  --500-red: #c5756f;
  --600-red: #b7534c;
  --700-red: #a83830;
  --800-red: #862c26;
  --900-red: #6a231e;

  --red-0: var(--100-red);
  --red-1: var(--200-red);
  --red-2: var(--300-red);
  --red-3: var(--400-red);
  --red-4: var(--500-red);
  --red-5: var(--600-red);
  --red-6: var(--700-red);
  --red-1-rgb: 234, 206, 204;
  --red-2-rgb: 210, 149, 144;
  --red-4-rgb: 183, 83, 76;
  --red-5-rgb: 168, 56, 48;

  // Yellow
   --50-yellow: #fdfaf2;
  --100-yellow: #f8edd4;
  --200-yellow: #efd195;
  --300-yellow: #e6b456;
  --400-yellow: #ca9d4c;
  --500-yellow: #ac8440;
  --600-yellow: #8e6c35;
  --700-yellow: #775a2c;
  --800-yellow: #5e4723;
  --900-yellow: #4b381c;
  --yellow-bright: var(--100-yellow);
  --yellow-1: var(--200-yellow);
  --yellow-2: var(--300-yellow);
  --yellow-3: var(--400-yellow);
  --yellow-4: var(--500-yellow);

  // Gray-Green
   --50-green: #f9faf9;
  --100-green: #ebeeec;
  --200-green: #ced7d0;
  --300-green: #b1c0b5;
  --400-green: #96a99a;
  --500-green: #78917e;
  --600-green: #5b7962;
  --700-green: #4c6552;
  --800-green: #3c5041;
  --900-green: #2f3f33;

  --green-0: var(--200-green);
  --green-1: var(--300-green);
  --green-2: var(--400-green);
  --green-3: var(--500-green);
  --green-4: var(--600-green);
  --green-5: var(--700-green);
  --green-6: var(--800-green);
  --green-1-rgb: 150, 169, 154;
  --green-2-rgb: 120, 145, 126;
  --green-4-rgb: 76, 101, 82;

  // turquoise
   --50-turquoise: #f8fafa;
  --100-turquoise: #e7efef;
  --200-turquoise: #c5d8d8;
  --300-turquoise: #a3c2c2;
  --400-turquoise: #82acac;
  --500-turquoise: #5d9495;
  --600-turquoise: #3a7c7d;
  --700-turquoise: #306769;
  --800-turquoise: #265253;
  --900-turquoise: #1e4042;

  --teal-0: var(--200-turquoise);
  --teal-1: var(--300-turquoise);
  --teal-2: var(--400-turquoise);
  --teal-3: var(--500-turquoise);
  --teal-4: var(--600-turquoise);
  --teal-5: var(--700-turquoise);
  --teal-6: var(--800-turquoise);
  --teal-1-rgb: 130, 172, 172;
  --teal-2-rgb: 93, 148, 149;
  --teal-4-rgb: 48, 103, 105;

  // blue
   --50-blue: #f8fafc;
  --100-blue: #e7eff5;
  --200-blue: #c3d7e7;
  --300-blue: #a1c0d9;
  --400-blue: #7fa9cb;
  --500-blue: #5a90bd;
  --600-blue: #3476ad;
  --700-blue: #2b6390;
  --800-blue: #224e72;
  --900-blue: #1b3e5a;

  --blue-0: var(--200-blue);
  --blue-1: var(--300-blue);
  --blue-2: var(--400-blue);
  --blue-3: var(--500-blue);
  --blue-4: var(--600-blue);
  --blue-5: var(--700-blue);
  --blue-6: var(--800-blue);
  --blue-1-rgb: 127, 169, 203;
  --blue-2-rgb: 90, 144, 189;
  --blue-4-rgb: 43, 99, 144;

  // purple
   --50-purple: #fbf9fb;
  --100-purple: #f2ecf0;
  --200-purple: #ded1da;
  --300-purple: #ccb6c4;
  --400-purple: #ba9cae;
  --500-purple: #a68097;
  --600-purple: #92647f;
  --700-purple: #795468;
  --800-purple: #5f4252;
  --900-purple: #4b3540;

  --purple-0: var(--200-purple);
  --purple-1: var(--300-purple);
  --purple-2: var(--400-purple);
  --purple-3: var(--500-purple);
  --purple-4: var(--600-purple);
  --purple-5: var(--700-purple);
  --purple-6: var(--800-purple);
  --purple-1-rgb: 204, 182, 196;
  --purple-2-rgb: 186, 156, 174;
  --purple-4-rgb: 146, 100, 127;

  // Pink
   --50-pink: #fdf9fa;
  --100-pink: #f7eaee;
  --200-pink: #eccdd5;
  --300-pink: #e0afbc;
  --400-pink: #d592a4;
  --500-pink: #c87088;
  --600-pink: #b94e6b;
  --700-pink: #9a4159;
  --800-pink: #7a3446;
  --900-pink: #612938;

  --pink-0: var(--200-pink);
  --pink-1: var(--300-pink);
  --pink-2: var(--400-pink);
  --pink-3: var(--500-pink);
  --pink-4: var(--600-pink);
  --pink-5: var(--700-pink);
  --pink-6: var(--800-pink);
  --pink-1-rgb: 224, 175, 188;
  --pink-2-rgb: 213, 146, 164;
  --pink-4-rgb: 185, 78, 107;
  --pink-5-rgb: 154, 65, 89;

  // gray
   --50-gray: #fafafa;
  --100-gray: #ededed;
  --200-gray: #d4d4d4;
  --300-gray: #bcbcbc;
  --400-gray: #a4a4a4;
  --500-gray: #8b8b8b;
  --600-gray: #727272;
  --700-gray: #5f5f5f;
  --800-gray: #4b4b4b;
  --900-gray: #3b3b3b;

  --gray-light-7: var(--50-gray);
  --gray-light-6: #f5f5f5;
  --gray-light-5: #f1f1f1;
  --gray-light-4: var(--100-gray);
  --gray-light-3: #e3e3e3;
  --gray-light-2: var(--200-gray);
  --gray-light-1: #cbcbcb;
  --gray: var(--300-gray);
  --gray-dark-1: #9f9f9f;
  --gray-dark-2: var(--500-gray);
  --gray-dark-3: var(--600-gray);
  --gray-dark-4: var(--700-gray);
  --gray-dark-5: var(--800-gray);
  --gray-dark-6: var(--900-gray);
  --gray-dark-7: #313131;
  --gray-dark-75: #272727;
  --gray-dark-8: #212121;
  --gray-dark-85: #1e1e1e;
  --gray-dark-9: #1b1b1b;
  --gray-dark-10: #070707;

  /* Defaults: purple/green */
  --primary-accent-0: var(--purple-0);
  --primary-accent-1: var(--purple-1);
  --primary-accent-2: var(--purple-2);
  --primary-accent-3: var(--purple-3);
  --primary-accent-4: var(--purple-4);
  --primary-accent-5: var(--purple-5);
  --primary-accent-6: var(--purple-6);
  --primary-accent-1-rgb: var(--purple-1-rgb);
  --primary-accent-4-rgb: var(--purple-4-rgb);

  --secondary-accent-0: var(--green-0);
  --secondary-accent-1: var(--green-1);
  --secondary-accent-2: var(--green-2);
  --secondary-accent-3: var(--green-3);
  --secondary-accent-4: var(--green-4);
  --secondary-accent-5: var(--green-5);
  --secondary-accent-6: var(--green-6);
  --secondary-accent-1-rgb: var(--green-1-rgb);
}
.primary-accent-green {
  --primary-accent-0: var(--green-0);
  --primary-accent-1: var(--green-1);
  --primary-accent-2: var(--green-2);
  --primary-accent-3: var(--green-3);
  --primary-accent-4: var(--green-4);
  --primary-accent-5: var(--green-5);
  --primary-accent-6: var(--green-6);
  --primary-accent-1-rgb: var(--green-1-rgb);
  --primary-accent-4-rgb: var(--green-4-rgb);
}
.primary-accent-teal {
  --primary-accent-0: var(--teal-0);
  --primary-accent-1: var(--teal-1);
  --primary-accent-2: var(--teal-2);
  --primary-accent-3: var(--teal-3);
  --primary-accent-4: var(--teal-4);
  --primary-accent-5: var(--teal-5);
  --primary-accent-6: var(--teal-6);
  --primary-accent-1-rgb: var(--teal-1-rgb);
  --primary-accent-4-rgb: var(--teal-4-rgb);
}
.primary-accent-blue {
  --primary-accent-0: var(--blue-0);
  --primary-accent-1: var(--blue-1);
  --primary-accent-2: var(--blue-2);
  --primary-accent-3: var(--blue-3);
  --primary-accent-4: var(--blue-4);
  --primary-accent-5: var(--blue-5);
  --primary-accent-6: var(--blue-6);
  --primary-accent-1-rgb: var(--blue-1-rgb);
  --primary-accent-4-rgb: var(--blue-4-rgb);
}
.primary-accent-purple {
  --primary-accent-0: var(--purple-0);
  --primary-accent-1: var(--purple-1);
  --primary-accent-2: var(--purple-2);
  --primary-accent-3: var(--purple-3);
  --primary-accent-4: var(--purple-4);
  --primary-accent-5: var(--purple-5);
  --primary-accent-6: var(--purple-6);
  --primary-accent-1-rgb: var(--purple-1-rgb);
  --primary-accent-4-rgb: var(--purple-4-rgb);
}
.primary-accent-pink {
  --primary-accent-0: var(--red-0);
  --primary-accent-1: var(--red-1);
  --primary-accent-2: var(--red-2);
  --primary-accent-3: var(--red-3);
  --primary-accent-4: var(--red-4);
  --primary-accent-5: var(--red-5);
  --primary-accent-6: var(--red-6);
  --primary-accent-1-rgb: var(--red-1-rgb);
  --primary-accent-4-rgb: var(--red-4-rgb);
}
.secondary-accent-green {
  --secondary-accent-0: var(--green-0);
  --secondary-accent-1: var(--green-1);
  --secondary-accent-2: var(--green-2);
  --secondary-accent-3: var(--green-3);
  --secondary-accent-4: var(--green-4);
  --secondary-accent-5: var(--green-5);
  --secondary-accent-6: var(--green-6);
  --secondary-accent-1-rgb: var(--green-1-rgb);
  --secondary-accent-4-rgb: var(--green-4-rgb);
}
.secondary-accent-teal {
  --secondary-accent-0: var(--teal-0);
  --secondary-accent-1: var(--teal-1);
  --secondary-accent-2: var(--teal-2);
  --secondary-accent-3: var(--teal-3);
  --secondary-accent-4: var(--teal-4);
  --secondary-accent-5: var(--teal-5);
  --secondary-accent-6: var(--teal-6);
  --secondary-accent-1-rgb: var(--teal-1-rgb);
  --secondary-accent-4-rgb: var(--teal-4-rgb);
}
.secondary-accent-blue {
  --secondary-accent-0: var(--blue-0);
  --secondary-accent-1: var(--blue-1);
  --secondary-accent-2: var(--blue-2);
  --secondary-accent-3: var(--blue-3);
  --secondary-accent-4: var(--blue-4);
  --secondary-accent-5: var(--blue-5);
  --secondary-accent-6: var(--blue-6);
  --secondary-accent-1-rgb: var(--blue-1-rgb);
  --secondary-accent-4-rgb: var(--blue-4-rgb);
}
.secondary-accent-purple {
  --secondary-accent-0: var(--purple-0);
  --secondary-accent-1: var(--purple-1);
  --secondary-accent-2: var(--purple-2);
  --secondary-accent-3: var(--purple-3);
  --secondary-accent-4: var(--purple-4);
  --secondary-accent-5: var(--purple-5);
  --secondary-accent-6: var(--purple-6);
  --secondary-accent-1-rgb: var(--purple-1-rgb);
  --secondary-accent-4-rgb: var(--purple-4-rgb);
}
.secondary-accent-pink {
  --secondary-accent-0: var(--red-0);
  --secondary-accent-1: var(--red-1);
  --secondary-accent-2: var(--red-2);
  --secondary-accent-3: var(--red-3);
  --secondary-accent-4: var(--red-4);
  --secondary-accent-5: var(--red-5);
  --secondary-accent-6: var(--red-6);
  --secondary-accent-1-rgb: var(--red-1-rgb);
  --secondary-accent-4-rgb: var(--red-4-rgb);
}
