/* Want a different font? This is the file to change! (02-fonts.scss) */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=IBM+Plex+Sans:wght@300;400;700&display=swap');

:root {
  // style settings baseline
  --ebw-font-text: 'IBM Plex Sans', Helvetica Neue;
  --ebw-font-monospace: 'Fira Code', 'Source Code Pro', Jetbrains Mono;
  --ebw-header-font: 'Architects Daughter';
  --ebw-header-font-caps-variant: normal;
  --ebw-font-tags: var(--ebw-header-font);
  --ebw-font-callout-title: var(--ebw-header-font);
}

body {
  --font-interface-theme: var(--ebw-font-text);
  --font-text-theme: var(--ebw-font-text);
  --font-monospace-theme: var(--ebw-font-monospace);
}
