.theme-dark .print,
.theme-light {
    /** Core styles **/
    --background-primary: var(--gray-light-7);                 //  Note background
    --background-primary-alt: var(--gray-light-5);             //  Note title background

    --background-secondary: var(--gray-light-3);               //  Sidebar background
    --background-secondary-alt: var(--gray-light-4);           //  Sidebar title background

    --background-modifier-border: var(--gray-light-1);         //  Border outline of quotes, tables, line breaks
    // --background-modifier-form-field: white;
    // --background-modifier-form-field-highlighted: white;     // Search Bar Active Highlight
    // --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);

    --background-modifier-success:     var(--green-2);      // Publish Upload Success Background
    --background-modifier-success-rgb: var(--green-2-rgb);      // Publish Upload Success Background

    --background-modifier-error: var(--pink-1);           // Delete Screen Button
    --background-modifier-error-rgb: var(--pink-2-rgb); // Ctrl F Search Background
    --background-modifier-error-hover: var(--pink-2);

    --text-normal: var(--gray-dark-5);                   // Text body of note
    --text-muted: var(--gray-dark-4);                    // Text darker for sidebar, toggles, inactive, tags, etc
    --text-faint: var(--gray-dark-1);                    // Link brackets color

    --text-accent: var(--primary-accent-4);                  // Links

    --text-error: var(--pink-5);
    --text-error: var(--green-4);

    // --text-error-hover: var(--pink-4);

    --text-highlight-fg: var(--text-dark-2);
    --text-highlight-bg: var(--primary-accent-0);
    --text-highlight-bg-active: rgba(252, 232, 131, 0.6);

    --text-selection: var(--secondary-accent-0);

    // --indentation-guide: var(--gray-light-3);
    // --indentation-guide-active: var(--pink-2);

    // /** Text on accent should work as foreground for all interactive elements */
    --text-on-accent: var(--gray-dark-7);                // Program Title bar text
    --interactive-hover: var(--primary-accent-2);            // Button hover text; pin
    --interactive-normal: var(--secondary-accent-2);            // Button background Color
    --interactive-accent: var(--secondary-accent-2);             // Workspace Note Title Underline
    --interactive-accent-rgb: var(--secondary-accent-1-rgb);    // Publish item select, Resize Handle
    --interactive-accent-hover: var(--primary-accent-2);      // Menu Button Hover
}
.theme-dark .print,
.theme-light .print {
  --background-primary: white;                 //  Note background
  --background-primary-alt: #fafafa;           //  Note title background

  --background-secondary: #fcfcfc;             //  Sidebar background
  --background-secondary-alt: #f3f3f3;         //  Sidebar title background
}
