.theme-dark .print,
.theme-light {
    /** Core styles **/
    --background-primary: var(--gray-light-7);                 //  Note background
    --background-primary-alt: var(--gray-light-5);             //  Note title background

    --background-secondary: var(--gray-light-3);               //  Sidebar background
    --background-secondary-alt: var(--gray-light-4);           //  Sidebar title background

    --background-modifier-border: var(--gray-light-1);         //  Border outline of quotes, tables, line breaks

    --background-modifier-success:     var(--green-2);      // Publish Upload Success Background
    --background-modifier-success-rgb: var(--green-2-rgb);      // Publish Upload Success Background

    --background-modifier-error: var(--red-1);           // Delete Screen Button
    --background-modifier-error-rgb: var(--red-2-rgb); // Ctrl F Search Background
    --background-modifier-error-hover: var(--red-2);

    --text-normal: var(--gray-dark-5);                   // Text body of note
    --text-muted: var(--gray-dark-4);                    // Text darker for sidebar, toggles, inactive, tags, etc
    --text-faint: var(--gray-dark-1);                    // Link brackets color

    --text-accent: var(--primary-accent-4);                  // Links
    --text-accent-hover: var(--primary-accent-5);

    --text-success: var(--green-2);
    --text-error: var(--red-5);

    --text-highlight-fg: var(--gray-dark-7);
    --text-highlight-bg: var(--primary-accent-0);
    --text-highlight-bg-active: rgba(252, 232, 131, 0.6);

    --text-selection: var(--secondary-accent-0);

    // --indentation-guide: var(--gray-light-3);
    // --indentation-guide-active: var(--red-2);

    // /** Text on accent should work as foreground for all interactive elements */
    --text-on-accent: var(--gray-light-8);                // Program Title bar text
    --interactive-hover: var(--primary-accent-1);            // Button hover text; pin
    --interactive-normal: var(--background-primary-alt);
    --interactive-accent: var(--secondary-accent-4);             // Workspace Note Title Underline
    --interactive-accent-hover: var(--primary-accent-4);      // Menu Button Hover
}
