body {
  --file-margins: var(--size-4-2) var(--size-4-8);
  --tab-background-active: var(--background-primary);
  --titlebar-background: var(--background-secondary);
  --titlebar-background-focused: var(--titlebar-background);
  --ribbon-background-collapsed: var(--titlebar-background);
}
div.workspace-split.mod-vertical.is-sliding.mod-root {
  div.workspace-tabs.mod-top.mod-top-right-space .workspace-tab-header-container {
    padding-right: var(--ribbon-width);
  }
  div.sidebar-toggle-button.mod-right {
    position: fixed;
    top: 0;
    right: 0;
    width: var(--ribbon-width);
    background-color: var(--tab-container-background);
    z-index: var(--layer-sidedock);
  }
}
