body {
  --file-margins: var(--size-4-2) var(--size-4-8);
  --ribbon-background-collapsed: var(--titlebar-background);
  --tab-text-color: var(--icon-color);
  --tab-text-color-focused: var(--icon-color-focused);
  --tab-container-background: var(--titlebar-background);
  --status-bar-background: var(--titlebar-background);
  --tab-outline-color: var(--background-modifier-border);
  --divider-color: var(--background-modifier-border);
}
body.is-focused {
  --ribbon-background-collapsed: var(--titlebar-background-focused);
  --tab-container-background: var(--titlebar-background-focused);
  --status-bar-background: var(--titlebar-background-focused);
  --tab-outline-color: var(--background-modifier-border-focus);
  --divider-color: var(--background-modifier-border-focus);
}
.theme-dark {
  --ebw-sharp-border: 1px solid rgba(0, 0, 0, 0.5);
}
.theme-light {
  --ebw-active-leaf-fg: var(--gray-light-5);
  --ebw-sharp-border: 1px solid rgba(0, 0, 0, .1);
}
.workspace-ribbon .sidebar-toggle-button {
  border-right: var(--tab-outline-width) solid var(--tab-outline-color);
}
.workspace:not(.is-right-sidedock-open) .sidebar-toggle-button.mod-right {
  border-left: var(--tab-outline-width) solid var(--tab-outline-color);
}
body:not(.is-mobile) .mod-left-split.is-floating {
  left: calc(var(--ribbon-width));
}
// left hover sidedock border
body:not(.is-mobile) .workspace.is-left-sidedock-open
  .workspace-split.mod-left-split .workspace-tab-header-container {
    border-right: var(--tab-outline-width) solid var(--tab-outline-color);
}

// right sidedock border
body:not(.is-mobile) div.workspace.is-right-sidedock-open
  .workspace-split.mod-right-split .workspace-tab-header-container {
    border-left: var(--tab-outline-width) solid var(--tab-outline-color);
}

// Pane controls (in title)
.workspace-tabs .view-header {
  margin: 0;
  > .view-actions {
    order: 0;
    flex-direction: row-reverse;
    padding: 0 var(--size-2-3);
  }
  > .view-header-icon {
    order: 1;
  }
  > .view-header-title-container {
    order: 1;
  }
}
// body.is-focused .workspace-leaf.mod-active .view-header {
//   background-color: var(--ebw-active-leaf-header-bg);
//   border-bottom: var(--ebw-sharp-border);
//   .view-header-title, .view-action {
//     color: var(--ebw-active-leaf-fg);
//   }
//   .view-header-title-container:after {
//     display: none;
//   }
// }
// .workspace-leaf .view-header {
//   background-color: var(--ebw-active-leaf-header-bg);
//   border-bottom: var(--ebw-sharp-border);
//   .view-header-title, .view-action {
//     color: var(--ebw-active-leaf-fg);
//   }
//   .view-header-title-container:after {
//     display: none;
//   }
// }

// Pane relief / sliding panes icon always on top
div.workspace-split.mod-vertical.is-sliding.mod-root {
  div.workspace-tabs.mod-top.mod-top-right-space .workspace-tab-header-container {
    padding-right: var(--ribbon-width);
  }
  div.sidebar-toggle-button.mod-right {
    position: fixed;
    top: 0;
    right: 0;
    width: var(--ribbon-width);
    background-color: var(--tab-container-background);
    z-index: var(--layer-sidedock);
  }
}
