.theme-dark {
  --modal-nav-bg: var(--primary-accent-6);
  --modal-nav-hover: var(--primary-accent-5);
  --modal-nav-accent: var(--primary-accent-4);
  --modal-content-bg: var(--background-primary);
  --modal-checkbox-bg: var(--secondary-accent-6);
  --modal-checked-bg: var(--secondary-accent-4);

  .modal {
    background-color: var(--background-primary);
  }

  .document-search-container {
    background-color: var(--background-secondary);
  }
}
.theme-dark .print,
.theme-light {
  --modal-nav-bg: var(--primary-accent-2);
  --modal-nav-hover: var(--primary-accent-0);
  --modal-nav-accent: var(--primary-accent-3);
  --modal-content-bg: var(--background-primary);
  --modal-checkbox-bg: var(--secondary-accent-0);
  --modal-checked-bg: var(--secondary-accent-2);

  .modal {
    background-color: var(--gray-light-5);
  }
  .modal-title,
  .vertical-tab-header-group-title {
    color: var(--gray-dark-6);
  }
  .community-plugin .u-muted,
  .community-plugin-desc,
  .community-plugin-downloads,
  .community-plugin-item,
  .vertical-tab-nav-item {
    color: var(--gray-dark-6);
  }
  .document-search-container {
    background-color: var(--background-secondary-alt);
  }
}
// -------------------------------------
// Modal dialog & Prompts
// -------------------------------------
// Text Input Field
input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'],
input[type='number'] {
  font-size: 0.8em;
}
.search-input-container input {
  padding: 2px 20px 2px 6px;
}
.search-input-clear-button {
  right: 5px;
  top: 3px;
}
.document-search-container {
  input.document-search-input,
  input.document-replace-input {
    background: var(--background-modifier-form-field);

    &.mod-no-match {
      background-color: var(--background-primary);
      border: 1px solid var(--background-modifier-error);
    }
    &.mod-no-match:hover {
      background-color: var(--background-primary);
      border: 1px solid var(--background-modifier-error-hover);
    }
  }
}

// Don't apply special fonts to modals / community panels
.modal-container {
  .prompt,
  .vertical-tab-header,
  .vertical-tab-nav-item,
  .community-plugin-search {
    background-color: var(--modal-nav-bg);
  }
  .vertical-tab-nav-item.is-active {
    border-left-color: var(--modal-nav-accent);
  }
  .community-plugin-item:hover,
  .horizontal-tab-nav-item:hover,
  .vertical-tab-nav-item:hover,
  .community-theme.is-selected,
  .vertical-tab-nav-item.is-active {
    background-color: var(--modal-nav-hover);
  }
  .prompt > .prompt-results,
  .vertical-tab-content {
    background-color: var(--modal-content-bg);
  }
  .checkbox-container {
    background-color: var(--modal-checkbox-bg);
  }
  .checkbox-container.is-enabled {
    background-color: var(--modal-checked-bg);
  }
  .community-plugin {
    .setting-item-control button,
    .flair.mod-pop {
      background-color: var(--modal-nav-hover);
    }
  }
  .mod-settings .setting-item button,
  .modal.mod-settings button:not(.mod-cta):not(.mod-warning),
  .modal .community-plugin-details button:not(.mod-cta):not(.mod-warning) {
    background-color: var(--interactive-accent);
    color: var(--text-on-accent);
  }
}
.modal button:not(.mod-cta):not(.mod-warning) {
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
}
.graph-controls {
  .checkbox-container {
    background-color: var(--modal-checkbox-bg);
  }
  .checkbox-container.is-enabled {
    background-color: var(--modal-checked-bg);
  }
}
.suggestion-container {
  border: 1px solid var(--modal-nav-accent);
}
.suggestion-item.is-selected {
  background-color: var(--modal-nav-hover);
}
