.theme-dark {
  --graph-line: var(--gray-dark-5);

  --graph-node: var(--primary-accent-4);
  --graph-node-focused: var(--yellow-1);
  --graph-node-tag: var(--secondary-accent-3);
  --graph-node-attachment: var(--secondary-accent-2);
  --graph-node-unresolved: var(--gray);
}
.theme-dark .print:not(.published-container),
.theme-light {
  --graph-line: var(--gray-light-1);

  --graph-node: var(--primary-accent-2);
  --graph-node-focused: var(--yellow-1);
  --graph-node-tag: var(--secondary-accent-3);
  --graph-node-attachment: var(--secondary-accent-2);
  --graph-node-unresolved: var(--gray);
}
