body {
  --h1-size: 2em;
  --h2-size: 1.8em;
  --h3-size: 1.6em;
  --h4-size: 1.4em;
  --h5-size: 1.2em;
  --h6-size: 1.2em;

  --h1-font: var(--ebw-header-font);
  --h2-font: var(--ebw-header-font);
  --h3-font: var(--ebw-header-font);
  --h4-font: var(--ebw-header-font);
  --h5-font: var(--ebw-header-font);
  --h6-font: var(--ebw-header-font);

  --h1-variant: common-ligatures;
  --h2-variant: common-ligatures;
  --h3-variant: common-ligatures;
  --h4-variant: common-ligatures;
  --h5-variant: common-ligatures;
  --h6-variant: common-ligatures;

  --h1-weight: 500;
  --h2-weight: 500;
  --h3-weight: 500;
  --h4-weight: 500;
  --h5-weight: 500;
  --h6-weight: 500;
}
.theme-dark {
  --h1-color: var(--yellow-2);
  --h2-color: var(--green-3);
  --h3-color: var(--cyan-3);
  --h4-color: var(--blue-3);
  --h5-color: var(--purple-3);
  --h6-color: var(--pink-3);
}
.theme-light {
  --h1-color: var(--yellow-3);
  --h2-color: var(--green-4);
  --h3-color: var(--cyan-3);
  --h4-color: var(--blue-4);
  --h5-color: var(--purple-4);
  --h6-color: var(--pink-4);
}
.cm-header-1 {
  --heading-formatting: var(--h1-color)
}
.cm-header-2 {
  --heading-formatting: var(--h2-color)
}
.cm-header-3 {
  --heading-formatting: var(--h3-color)
}
.cm-header-4 {
  --heading-formatting: var(--h4-color)
}
.cm-header-5 {
  --heading-formatting: var(--h5-color)
}
.cm-header-6 {
  --heading-formatting: var(--h6-color)
}

h1,
.markdown-rendered h1,
.cm-line:not(.HyperMD-codeblock) .cm-header-1,
.HyperMD-list-line .cm-header-1 {
  font-variant-caps: var(--ebw-header-font-caps-variant);
}

.HyperMD-header,
.markdown-rendered,
.workspace,
.print {
  .is-live-prevew .HyperMD-header .cm-header::before,
  h1::before,
  h2::before,
  h3::before,
  h4::before,
  h5::before,
  h6::before {
    content: "\00a7\00a0";
    font-size: 0.5em;
    font-weight: 200;
    position: relative;
    vertical-align: middle;
    font-family: var(--font-default);
  }

  h1 code,
  h2 code,
  h3 code,
  h4 code,
  h5 code,
  h6 code {
    font-weight: normal;
    font-variant-caps: normal;
    font-size: 75% !important;
  }
}

.cm-s-obsidian {
  .cm-header.cm-inline-code {
    font-weight: var(--font-extralight);
    font-weight: normal;
    font-variant-caps: normal;
  }

  .cm-line:not(.HyperMD-codeblock) .cm-header.cm-inline-code {
    font-size: 65% !important;
  }

  .cm-header-1.cm-hmd-codeblock:not(.cm-inline-code) {
    color: var(--h1-color);
  }
  .cm-header-2.cm-hmd-codeblock:not(.cm-inline-code) {
    color: var(--h2-color);
  }
  .cm-header-3.cm-hmd-codeblock:not(.cm-inline-code) {
    color: var(--h3-color);
  }
  .cm-header-4.cm-hmd-codeblock:not(.cm-inline-code) {
    color: var(--h4-color);
  }
  .cm-header-5.cm-hmd-codeblock:not(.cm-inline-code) {
    color: var(--h5-color);
  }
  .cm-header-6.cm-hmd-codeblock:not(.cm-inline-code) {
    color: var(--h6-color);
  }
}

/* Tag formatting */
body:not(.ebullientworks-nix-tags) {
  --tag-background: transparent;
  --tag-background-hover: transparent;
  --tag-padding-x: 0;

  &.theme-dark {
    --tag-color: var(--color-accent-2);
    --tag-color-hover: var(--tag-3);
  }
  &  &.theme-light {
    --tag-color: var(--color-accent);
    --tag-color-hover: var(--tag-4);
  }

  a.tag,
  .editor .cl-hashtag,
  .markdown-source-view.mod-cm6 .cm-hashtag,
  .cm-s-obsidian .cm-formatting.cm-hashtag,
  .cm-s-obsidian .cm-quote.cm-hashtag,
  .cm-s-obsidian .cm-hmd-codeblock.cm-hashtag {
    font-family: var(--ebw-font-tags);
    color: var(--tag-color);
  }

  h1 a.tag,
  h2 a.tag,
  h3 a.tag,
  h4 a.tag,
  h5 a.tag,
  h6 a.tag {
    font-variant-caps: normal;
    font-weight: var(--font-extralight);
    font-size: 75% !important;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: unset;
  }

  .cm-s-obsidian {
    .cm-header.cm-hashtag {
      font-weight: var(--font-extralight);
      font-variant-caps: normal;
      padding: 0;
      background-color: transparent;
      border: none;
      border-radius: unset;
    }

    .cm-line:not(.HyperMD-codeblock) .cm-header.cm-hashtag {
      font-size: 65% !important;
    }
    .cm-header-1.cm-hmd-codeblock.cm-hashtag:not(.cm-inline-code),
    .cm-header-2.cm-hmd-codeblock.cm-hashtag:not(.cm-inline-code),
    .cm-header-3.cm-hmd-codeblock.cm-hashtag:not(.cm-inline-code),
    .cm-header-4.cm-hmd-codeblock.cm-hashtag:not(.cm-inline-code),
    .cm-header-5.cm-hmd-codeblock.cm-hashtag:not(.cm-inline-code),
    .cm-header-6.cm-hmd-codeblock.cm-hashtag:not(.cm-inline-code) {
      color: var(--tag-color);
    }
  }
}

/* HR tags */
.markdown-rendered {
  hr {
    border: none;
    border-top: 1px dotted var(--interactive-accent);
    color: var(--interactive-hover);
    overflow: visible;
    text-align: center;
    height: 2px;
    margin: 12px 0;
  }
  hr::after {
    background: var(--background-primary);
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    content: " ✧ ✧ ✧ ";
    padding: 0 0.8em;
    position: relative;
    top: -13px;
  }
}
