.theme-dark {
  --strong-em: var(--yellow-2);
  --strong: var(--blue-3);
  --em: var(--pink-3);

  --link: var(--gray-light-1);
  --link-underline: var(--teal-4);
  --link-hover: var(--teal-3);
  --link-hidden: var(--teal-4);
}
.theme-dark .print,
.theme-light {
  --strong-em: var(--yellow-3);
  --strong: var(--blue-4);
  --em: var(--pink-4);

  --link: var(--gray-dark-4);
  --link-underline: var(--teal-2);
  --link-hover: var(--teal-3);
  --link-hidden: var(--teal-2);
}

.cm-s-obsidian .cm-strong.cm-quote,
.cm-s-obsidian .cm-strong,
.view-content strong {
  color: var(--strong);
  font-weight: 600;
}

.cm-s-obsidian .cm-em.cm-quote,
.cm-s-obsidian .cm-em,
.view-content em {
  color: var(--em);
}

.cm-s-obsidian .cm-quote.cm-strong.cm-em,
.cm-s-obsidian .cm-em.cm-strong,
.view-content strong em {
  color: var(--strong-em);
}

// Highlight, matched text
.markdown-preview-view mark,
.search-result-file-matched-text,
.cm-s-obsidian span.obsidian-search-match-highlight,
.cm-s-obsidian span.cm-highlight,
.is-flashing * {
  color: var(--text-highlight-fg);
}

div.CodeMirror.cm-s-obsidian span.cm-highlight.CodeMirror-selectedtext {
  --text-selection: var(--text-highlight-bg-active);
}

.markdown-source-view.mod-cm6 .cm-selection,
::selection {
  color: var(--text-highlight-fg);
  background-color: var(--text-selection);
}

.is-flashing * ::selection {
  background-color: var(--text-highlight-bg-active);
}

.CodeMirror-cursor,
.cm-s-obsidian .cm-cursor {
  border-left: 1px solid var(--primary-accent-4);
}
.cm-s-obsidian .CodeMirror-lines {
  caret-color: var(--primary-accent-4);
}

// Reference: css styles for links in base
// .rich-link -- color
// .cm-link -- text-decoration
// .cm-s-default .cm-link -- color(#00c)
// .cm-s-obsidian .hmd-link-icon:after -- color(#009), text-shadow
// .cm-s-obsidian span.cm-link -- color(text-accent)
// .cm-s-obsidian span.cm-hmd-internal-link -- color(text-accent)
// .cm-s-obsidian span.cm-formatting-link -- color(text-faint)
// .cm-s-obsidian span.cm-hmd-internal-link:hover -- text-decoration(underline)
// .markdown-preview-view .internal-link -- text-decoration(underline)
// .markdown-preview-view .internal-link.is-unresolved -- opacity
// .markdown-preview-view mark .internal-link -- color(text-normal), background-color(highlight)
// .markdown-embed-link, .file-embed-link -- color(text-faint)
// .markdown-embed-link:hover, .file-embed-link:hover -- color(text-accent)
// ---
a:hover {
  color: var(--link-hover);
  text-decoration: underline var(--link-underline);
}
a,
.cm-s-obsidian span.cm-url,
.cm-s-obsidian span.cm-link,
.cm-s-obsidian span.cm-hmd-internal-link,
.markdown-preview-view .internal-link {
  color: var(--link);
  text-decoration: underline var(--link-underline);
}
.cm-s-obsidian span.cm-string.cm-url {
  color: var(--link-hidden);
}
// Formatting characters [around](links)
.cm-s-obsidian span.cm-formatting-link.cm-link,
.cm-s-obsidian span.cm-formatting-link-string {
  font-weight: normal;
  color: var(--text-muted);
}
.markdown-preview-view .internal-link.is-unresolved {
  opacity: 0.9;
  text-decoration-style: dotted;
}
.markdown-preview-view .internal-link.is-unresolved::after {
  content: ' ✎';
  color: var(--link-underline);
}

/* Collapse external links / markdown links in edit mode: CodeMirrorOptions + Legacy editor */
body.style-active-selection:not(.ebullientworks-show-edit-mode-links) div:not(.CodeMirror-activeline) > .CodeMirror-line {
  .cm-string.cm-url:not(.cm-formatting) {
    font-size: 0;
  }
  .cm-string.cm-url:not(.cm-formatting)::after {
    content: '·';
    font-size: 1rem;
  }
}
/* CM6 editor */
body:not(.ebullientworks-show-edit-mode-links) .markdown-source-view.mod-cm6 {
  div.cm-line:not(.cm-active) {
    > .cm-string.cm-url:not(.cm-formatting) {
      font-size: 0;
    }
    > .cm-string.cm-url:not(.cm-formatting)::after {
      content: '·';
      font-size: 1rem;
    }
  }
}
