@use '06a-checkbox-mixin' as checkboxes;
body {
  --checkbox-checked: var(--green-4);
  --checkbox-deferred: var(--blue-3);
  --checkbox-review: var(--green-3);
  --checkbox-important: var(--pink-4);
  --checkbox-in-progress: var(--cyan-4);
  --checkbox-question: var(--yellow-3);
  --checkbox-cancelled: var(--gray-dark-3);
  --checkbox-hover: var(--gray-dark-2);
}
.theme-light {
  --checkbox-checked: var(--green-3);
  --checkbox-deferred: var(--blue-3);
  --checkbox-review: var(--green-3);
  --checkbox-important: var(--red-4);
  --checkbox-in-progress: var(--cyan-3);
  --checkbox-question: var(--yellow-3);
  --checkbox-cancelled: var(--gray-dark-1);
  --checkbox-hover: var(--gray-light-2);
}

/** Set line-height on mobile */
.mobile {
  .markdown-preview-view {
    ol,
    ul {
      display: block;
      line-height: var(--line-height);
    }
  }
}

body:not(.ebullientworks-nix-checkbox) {
  /** Use style settings to disable custom checkboxes in the theme */
  @include checkboxes.list;
}
