@mixin custom-task-background(
  $character,
  $rgb-color,
  $background,
  $font-weight: var(--font-normal),
  $text-decoration: none,
  $li-fg: var(--text-normal)
) {
  div[data-task="#{$character}"],
  ul > li.task-list-item[data-task="#{$character}"] {
    --checkbox-color: #{$rgb-color};
    --checkbox-border-color: #{$rgb-color};
    --checkbox-marker-color: transparent;
    --checklist-done-decoration: #{$text-decoration};
    color: $li-fg;
    font-weight: $font-weight;
    text-decoration: $text-decoration;

    > input.task-list-item-checkbox[type="checkbox"]:checked {
      background: #{$background};

      &::after {
        -webkit-mask-image: none;
        background: unset;
        content: " ";
      }
    }
  }
}

@mixin custom-task-text(
  $character,
  $rgb-color,
  $emoji,
  $font-weight,
  $text-decoration,
  $li-fg: var(--text-normal),
  $font-family: var(--font-monospace)
) {
  div[data-task="#{$character}"],
  ul > li.task-list-item[data-task="#{$character}"] {
    --checkbox-color: #{$rgb-color};
    --checkbox-border-color: #{$rgb-color};
    --checkbox-marker-color: transparent;
    --checklist-done-decoration: #{$text-decoration};
    color: $li-fg;
    font-weight: $font-weight;
    text-decoration: $text-decoration;

    > input.task-list-item-checkbox[type="checkbox"]:checked {
      background-color: unset;
      background: unset;

      &::after {
        -webkit-mask-image: none;
        font-family: #{$font-family};
        background: unset;
        position: absolute;
        text-align: center;
        font-weight: $font-weight;
        font-size: calc(var(--checkbox-size) - 2px);
        left: 50%;
        margin-left: calc(-1 * (var(--checkbox-size) / 2));
        line-height: var(--checkbox-size);
        color: var(--checkbox-color);
        content: "#{$emoji}";
      }
    }
  }
}
