:root {
  --tag-0: var(--pink-0);
  --tag-1: var(--pink-1);
  --tag-2: var(--pink-2);
  --tag-3: var(--pink-3);
  --tag-4: var(--pink-4);
  --tag-5: var(--pink-5);
  --tag-6: var(--pink-6);
  --tag-dark:  var(--tag-5);
  --tag-light: var(--tag-3);
  --tag-background: transparent;
  --tag-background-hover: rgba(var(--primary-accent-1-rgb), 0.2);
}
.theme-dark {
  --tag-color: var(--tag-dark);
  --tag-color-hover: var(--tag-dark);
}
.theme-dark .print,
.theme-light {
  --tag-color: var(--tag-light);
  --tag-color-hover: var(--tag-light);
}

a.tag,
.editor .cl-hashtag {
  font-family: var(--ebw-font-tags);
}
