body {
  --callout-padding: 0;
  --callout-radius: var(--radius-m);
  --callout-content-padding: 0 var(--size-4-2);
  --callout-title-padding: var(--size-4-2);
  --callout-border-opacity: 0.4;
  --callout-border-width: 0 0 0 0.05rem;
  --blockquote-border-thickness: 0.05rem;

  --ebw-callout-warning: 234, 175, 0; // yellow-3
  --ebw-callout-success: 139, 167, 145; // green-3

  --ebw-callout-note: 148, 189, 223; // blue-2
  --ebw-callout-info: 111, 166, 211; // blue-3
  --ebw-callout-quote: 53, 120, 175; // blue-4

  --ebw-callout-tip: 134, 196, 193; // teal-2
  --ebw-callout-question: 89, 174, 170; // teal-3

  --ebw-callout-abstract: 199, 178, 195; // purple-2
  --ebw-callout-bug: 180, 152, 175; // purple-3
  --ebw-callout-example: 142, 103, 135; // purple-4

  --ebw-callout-danger: 211, 141, 160; // pink-3
  --ebw-callout-failure: 187, 79, 108; // pink-4

  --ebw-callout-reference: 183, 183, 183; // gray
  --ebw-callout-toc: 235, 235, 235; // gray-light-4
}
.theme-dark {
  --blockquote-border-color: var(--secondary-accent-4);
}
.theme-dark .print,
.theme-light {
  --blockquote-border-color: var(--secondary-accent-2);
  --ebw-callout-toc: 159, 159, 159; // gray-dark-1
  --ebw-callout-reference: 137, 137, 137; // gray-dark-2
  --ebw-callout-success: 92, 122, 99; // green-4

  --ebw-callout-note: 33, 75, 109; // blue-5
  --ebw-callout-abstract: 88, 64, 84; // purple-5
  --ebw-callout-info: 53, 119, 174; // blue-4
  --ebw-callout-tip: 61, 126, 123; // teal-4

  --ebw-callout-danger: 167,92,112; // pink-4
  --ebw-callout-failure: 188,83,69; // red-4
}
.markdown-rendered blockquote {
  padding: var(--callout-content-padding);
  border-radius: var(--callout-radius);
}

.rendered-widget,
.markdown-rendered,
.markdown-preview-section {
  .callout[data-callout="abstract"],
  .callout[data-callout="summary"],
  .callout[data-callout="tldr"] {
    --callout-color: var(--ebw-callout-abstract);
  }
  .callout[data-callout="note"] {
    --callout-color: var(--ebw-callout-note);
  }
  .callout[data-callout="info"],
  .callout[data-callout="todo"] {
    --callout-color: var(--ebw-callout-info);
  }
  .callout[data-callout="tip"],
  .callout[data-callout="hint"],
  .callout[data-callout="important"] {
    --callout-color: var(--ebw-callout-tip);
  }
  .callout[data-callout="success"],
  .callout[data-callout="check"],
  .callout[data-callout="done"] {
    --callout-color: var(--ebw-callout-success);
  }
  .callout[data-callout="question"],
  .callout[data-callout="help"],
  .callout[data-callout="faq"] {
    --callout-color: var(--ebw-callout-question);
  }
  .callout[data-callout="warning"],
  .callout[data-callout="caution"],
  .callout[data-callout="attention"] {
    --callout-color: var(--ebw-callout-warning);
  }
  .callout[data-callout="failure"],
  .callout[data-callout="fail"],
  .callout[data-callout="missing"] {
    --callout-color: var(--ebw-callout-failure);
  }
  .callout[data-callout="danger"],
  .callout[data-callout="error"] {
    --callout-color: var(--ebw-callout-danger);
  }
  .callout[data-callout="bug"] {
    --callout-color: var(--ebw-callout-bug);
  }
  .callout[data-callout="example"] {
    --callout-color: var(--ebw-callout-example);
  }
  .callout[data-callout="excerpt"],
  .callout[data-callout="quote"],
  .callout[data-callout="cite"] {
    --callout-color: var(--ebw-callout-quote);
  }
  .callout[data-callout="reference"] {
    --callout-color: var(--ebw-callout-reference);
  }
  .callout[data-callout="toc"] {
    --callout-color: var(--ebw-callout-toc);
  }

  .callout-title {
    font-family: var(--ebw-font-callout-title);
  }
  .callout-title-inner {
    flex: 2;
  }
  .callout-content {
    background-color: var(--background-primary);

    > :first-child {
      margin-top: 0.5em;
    }
    > :last-child {
      margin-bottom: 0.5em;
    }
  }
  blockquote {
    overflow-x: auto;
    padding: var(--callout-content-padding);

    > :first-child {
      margin-top: 0.5em;
    }
    > :last-child {
      margin-bottom: 0.5em;
    }
  }

  // ------------------------------------------------------
  // Reference Admonition
  // Create callout of type 'reference' (book icon suggested)
  // ```ad-reference
  // Title:: Title of referenced thing
  // Source:: https://....
  // ```
  // ------------------------------------------------------
  .callout[data-callout="reference"] {
    .callout-content {
      white-space: pre-wrap;
      font-family: var(--font-monospace);
      font-size: var(--font-smallest);
      color: var(--text-muted);

      p {
        margin-block: 0;
      }

      p:not(:first-child) {
        margin-block-end: .5em;
      }
    }
  }
  // ------------------------------------------------------
  // TOC Admonition
  // List with compressed padding that floats to the right
  // Create callout of type 'toc' (outline icon suggested)
  // ```ad-toc
  // - List of links to document sections
  // ```
  // ------------------------------------------------------
  .callout[data-callout="toc"] {
    &.callout {
      float: right;
      margin-left: .5em;
      min-width: 150px;
    }
    .callout-content {
      padding-right: .5em;

      ul {
        display: block;
        margin-block-start: .5em;
        margin-block-end: .5em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 30px;
      }
    }
  }
}
div.popover {
  .callout[data-callout="toc"] {
    display: none;
  }
}

