.theme-dark {
  .markdown-preview-view blockquote {
    border-color: var(--secondary-accent-4);
    border-left: 3px solid var(--secondary-accent-4);
  }
  .markdown-source-view.mod-cm6.is-live-preview div.HyperMD-quote {
    border-left: 2px solid var(--secondary-accent-4);
    border-right: 1px solid var(--secondary-accent-4);
  }
  .markdown-source-view.mod-cm6 .cm-blockquote-border {
    border: 0 solid var(--primary-accent-4);
    border-left-width: 1px;
  }
}
.theme-dark .print,
.theme-light {
  .markdown-preview-view blockquote {
    border-color: var(--secondary-accent-2);
    border-left: 3px solid var(--secondary-accent-2);
  }
  .markdown-source-view.mod-cm6.is-live-preview div.HyperMD-quote {
    border-left: 2px solid var(--secondary-accent-2);
    border-right: 1px solid var(--secondary-accent-2);
  }
  .markdown-source-view.mod-cm6 .cm-blockquote-border {
    border: 0 solid var(--primary-accent-2);
    border-left-width: 1px;
  }
}
.markdown-preview-view blockquote {
  background-color: var(--background-primary-alt);
  margin: 0;
  padding-left: 1em;
  overflow-x: auto;
  position: relative;
}
.markdown-source-view.mod-cm6 .cm-blockquote-border {
  display: inline-block;
  border-left-width: 5px;
  text-indent: -5px;
}
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote {
  border-left-width: 5px;
  background-color: var(--background-primary-alt);
}
