// ------------------------------------------------------
// Floating images
// ------------------------------------------------------
img,
div {
  &[alt~='float-right'] {
    float: right;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  &[alt~='float-left'] {
    float: left;
    margin-right: 1rem;
    margin-top: 1rem;
  }
  // Use an anchor tag: ![Image](image.jpg#portrait)
  &[src$="#portrait"] {
    float: right;
    margin-left: 5px;
    width: 200px;
  }
  &[src$="#callout"] {
    float: right;
    margin-left: 5px;
    width: 50%;
  }
  &[src$="#small-right"] {
    float: right;
    margin-left: 5px;
    width: 75px;
  }
}
// ------------------------------------------------------
// Naked embeds
// ------------------------------------------------------
.markdown-embed-title {
  display:none;
}
.markdown-preview-view {
  .markdown-embed {
    border: none;
    padding:0;
    margin:0;

    .markdown-embed-content,
    .markdown-embed-content > .markdown-preview-view  {
      overflow-y: unset;
      max-height: unset;
      padding: 5px;
    }

    .markdown-embed-content>:first-child {
      margin-top: 0;
    }
    .markdown-embed-content>:last-child {
      margin-bottom: 0;
      padding-bottom: .5em;
    }

    .markdown-embed-link,
    .file-embed-link {
      border-radius: none;
      border-bottom-left-radius: 3px;
    }
  }
}

.markdown-source-view .markdown-embed,
.markdown-source-view .file-embed {
  border: none;
  padding:0;
  margin:0;

  .markdown-embed-content,
  .markdown-embed-content > .markdown-preview-view  {
    padding: 5px;
  }

  .markdown-embed-link,
  .file-embed-link {
    border-radius: none;
    border-bottom-left-radius: 3px;
  }
}

.print.print-preview > .markdown-preview-view {
  .markdown-embed-content,
  .markdown-embed-content > .markdown-preview-view {
    overflow-wrap: break-word;
    width: auto;
  }
}

.markdown-source-view.mod-cm6:not(.invisible-embed),
.markdown-preview-view:not(.invisible-embed) {
  .markdown-embed,
  .file-embed {
    .markdown-embed-content,
    .markdown-embed-content > .markdown-preview-view  {
      background-color: var(--background-primary-alt);
    }

    .markdown-embed-link,
    .file-embed-link {
      background-color: var(--background-primary);
    }
  }
}

// ------------------------------------------------------
// Scaled iframes
// cssclass: embedframe
// <div class='scaled-iframe'><iframe src="..." ></iframe></div>
// ------------------------------------------------------
.embedframe iframe {
  width: 125%;
  height: 750px;
  -webkit-transform: scale(.8);
  transform: scale(.8);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.embedframe .scaled-iframe {
  width: 100%;
  height: 600px;
  position: relative;
}
