body {
  --embed-border-left: 1px solid var(--ebw-embed-border-color);
  --embed-border-right: 1px solid var(--ebw-embed-border-color);
  --embed-padding: 0 var(--size-4-1);
}
.theme-light {
  --ebw-embed-border-color: var(--primary-accent-1);
}
.theme-dark {
  --ebw-embed-border-color: var(--gray-dark-7);
}
// ------------------------------------------------------
// Floating images
// ------------------------------------------------------
img,
div {
  &[alt~='float-right'] {
    float: right;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  &[alt~='float-left'] {
    float: left;
    margin-right: 1rem;
    margin-top: 1rem;
  }
  // Use an anchor tag: ![Image](image.jpg#portrait)
  &[src$="#portrait"] {
    float: right;
    margin-left: 5px;
    width: 200px;
  }
  &[src$="#callout"] {
    float: right;
    margin-left: 5px;
    width: 50%;
  }
  &[src$="#small-right"] {
    float: right;
    margin-left: 5px;
    width: 75px;
  }
}
// ------------------------------------------------------
// Naked embeds
// ------------------------------------------------------
.markdown-embed {
  border-radius: var(--radius-l);
  position: relative;

  .markdown-embed-content {
    max-height: unset;
    overflow: unset;

    > .markdown-preview-view  {
      // no scroll
      overflow-y: unset;

      // hide a linked heading
      > .markdown-preview-section:first-child > div > h1,
      > .markdown-preview-section:first-child > div > h2,
      > .markdown-preview-section:first-child > div > h3,
      > .markdown-preview-section:first-child > div > h4,
      > .markdown-preview-section:first-child > div > h5,
      > .markdown-preview-section:first-child > div > h6 {
        display: none;
      }
    }
  }
}

// EMBED LINK
.markdown-embed-link svg {
  color: var(--ebw-link-underline);
  height: 14px;
  width: 14px;
}

.markdown-embed-link,
.file-embed-link {
  top: 0px;
  right: 0;
  height: 18px;
  width: 18px;
  text-align: center;
  vertical-align: middle;
  z-index: var(--layer-tooltip);
}

.markdown-source-view.invisible-embed,
.markdown-rendered.invisible-embed {
  --embed-border-left: none;
  --embed-border-right: none;
  --embed-padding: 0;
}

// ------------------------------------------------------
// Scaled iframes
// cssclass: embedframe
// <div class='scaled-iframe'><iframe src="..." ></iframe></div>
// ------------------------------------------------------
.embedframe iframe {
  width: 125%;
  height: 750px;
  -webkit-transform: scale(.8);
  transform: scale(.8);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.embedframe .scaled-iframe {
  width: 100%;
  height: 600px;
  position: relative;
}
