.theme-dark {
  --calendar-year: var(--primary-accent-3);
  --calendar-month: var(--secondary-accent-3);
  --calendar-dividing-line: var(--primary-accent-1);
  --day-planner-timeline-fg: var(--blue-1);

  .day.today {
    color: var(--primary-accent-3);
    font-weight: bold;
  }
  .day.today:hover {
    color: var(--gray-light-5);
  }
}
.theme-dark .print,
.theme-light {
  --calendar-year: var(--primary-accent-4);
  --calendar-month: var(--secondary-accent-4);
  --calendar-dividing-line: var(--primary-accent-1);
  --day-planner-timeline-fg: var(--blue-1);

  .day.today {
    color: var(--primary-accent-4);
    font-weight: bold;
  }
  .day.today:hover {
    color: var(--gray-dark-5);
  }
}
// ------------------------------------------------------
// Calendar, Fantasy Calendar
// ------------------------------------------------------
#calendar-container span.year {
  color: var(--calendar-year);
}
#calendar-container span.month {
  color: var(--calendar-month);
}
// ------------------------------------------------------
// Tracker
// ------------------------------------------------------
.block-language-tracker {
  .tracker-month-header-month,
  .tracker-month-title-arrow {
    fill: var(--calendar-month);
  }
  // month display matches Calendar colors
  .tracker-month-header-year {
    fill: var(--calendar-year);
  }
  .tracker-month-dividing-line {
    fill: var(--calendar-dividing-line);
  }
  .tracker-month-weekday,
  .tracker-month-label {
    fill: var(--text-faint);
    fill-opacity: 1.0 !important; // bug
  }
}
// ------------------------------------------------------
// Day Planner
// ------------------------------------------------------
.day-planner-progress-bar {
  background-color: var(--side-dock-fg-faint);
}
#day-planner-timeline-container {
  .event_item_contents > {
    .ei_Copy,
    .ei_Title {
      color: var(--day-planner-timeline-fg);
    }
  }
}

