// Published Variables
// Defaults will be after the line block

.published-container {
  /* Page */
  --footer-display: block;
  display: flex;
  /* Page titles */
  flex-direction: column;
  --sidebar-font-size: 1rem; //14px;
  --outline-heading-weight-active: 600;
  --graph-height: 16.25rem;
  --header-height: var(--h1-size);
  --input-height: 2.5rem; //32px
  /* Component titles, e.g. backlinks, graph, table of contents */
  --logo-height: auto;
  height: 100%;
  --nav-item-weight-active: 500;
  --sidebar-left-border-width: 0.0625rem; //1px;
  --sidebar-left-width: 17.5rem;
  --logo-max-height: 12.5rem;
  /* Inputs */
  --logo-max-width: calc(100% - 18px);
  /* Graph */
  --site-menu-icon-size: 1.5rem;
  /* Sidebars */
  --site-name-font: inherit;
  --site-name-size: var(--h2-size);
  --site-name-weight: 700; //600;
  overflow: auto;
  --nav-parent-item-weight: 500;
  position: relative;
  /* Site header */
  --logo-radius: 0.5rem;
  --sidebar-right-background: transparent;
  --sidebar-right-border-width: 0px;
  --sidebar-right-width: 18.75rem;
  --page-side-padding: 2rem; // 48px
  --component-title-font: var(--font-ui); //inherit
  --page-title-font: var(--h1-font);
  --page-title-line-height: var(--h1-line-height);
  --component-title-size: var(--font-ui-small);
  --page-title-size: var(--h1-size); //2.6em
  /* Navigation */
  --component-title-style: normal; //inherit
  --page-title-style: var(--h1-style);
  /* Outline */
  --component-title-transform: uppercase;
  /* Footer */
  --component-title-variant: normal; //Inherit

  --page-title-variant: var(--h1-font);
  --component-title-weight: 600;
  --page-title-weight: var(--h1-weight);
  -webkit-user-select: none;
  user-select: none;
  --logo-width: auto;
  --page-width: 100%; // 800px
  width: 100%;

  &::selection {
    background-color: var(--text-selection);
  }
}

// What does this do?
.published-container .loader-cube {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}


@mixin link-spacing {
  border-radius: 0.3125rem;
  font-size: 1rem;
  margin: 0.625rem;
  padding: 0.625rem;
  text-align: center;
}

@media screen and (max-width: 800px) {
  body {
    font-size: var(--font-ui-medium);
  }
}


@media screen and (max-width: 750px) {
  body {
    font-size: var(--font-ui-medium);
    --popover-display: none;
    --input-height: 2.25rem;
  }

  .published-container {
    --footer-display: none;
    --header-height: 4rem;
    --site-name-size: 1.125rem;
    --page-side-padding: 1rem;
    --page-title-size: 1.8em;
  }
}

@media screen and (max-width: 1000px) {
  body {
    font-size: var(--font-ui-medium);
  }

  .published-container {
    --footer-display: none;
    --outline-heading-weight-active: 600;
    --header-height: var(--h2-size);
    --logo-height: auto;
    --nav-item-weight-active: 500;
    --logo-max-height: 150px;
    --logo-max-width: calc(100% - 18px);
    --site-menu-icon-size: 1.375rem;
    /* Navigation */
    --site-name-size: var(--h3-size);
    --nav-parent-item-weight: 500;
    /* Outline */
    --logo-radius: 0.375rem;
    /* Footer */
    --logo-width: auto;

    >.markdown-preview-view {
      >.markdown-preview-sizer {
        margin-right: 0;
      }
    }
  }
}
