@mixin folder-color($folder-name, $rgb-color) {
  .nav-folder-title[data-path="#{$folder-name}"] { // Folder title
    --nav-item-color: #{$rgb-color};
    --nav-item-color-hover: #{$rgb-color};
    --nav-item-size: 1.3em;
    font-family: var(--ebw-font-tags);
    font-variant: small-caps;
    text-transform: capitalize;
  }
  .nav-folder-title[data-path^="#{$folder-name}"],
  .nav-file-title[data-path^="#{$folder-name}"] {
    color: #{$rgb-color};
  }
  body:not(.is-grabbing) .nav-file-title[data-path^="#{$folder-name}"]:hover,
  .nav-folder-title[data-path^="#{$folder-name}"].is-being-dragged,
  .nav-folder-title[data-path^="#{$folder-name}"]:hover,
  body:not(.is-grabbing) .nav-folder-title[data-path^="#{$folder-name}"]:hover,
  .nav-file-title[data-path^="#{$folder-name}"].is-being-dragged,
  .nav-file-title[data-path^="#{$folder-name}"]:hover {
    color: #{$rgb-color};
  }
  .nav-file-title[data-path*="#{$folder-name}"].is-active,
  .nav-folder-title[data-path*="#{$folder-name}"].is-active {
    color: $rgb-color;
    font-style: italic;
  }
}

@mixin folder-style($folder-name, $rgb-color, $emoji, $family: "", $variant: small-caps, $line-height: 1.1em, $text-transform: capitalize) {
  .nav-folder-title[data-path="#{$folder-name}"] {  // Folder title
    --nav-item-color: #{$rgb-color};
    --nav-item-color-hover: #{$rgb-color};
    --nav-item-size: #{$line-height};
    font-family: #{$family};
    font-variant-caps: #{$variant};
    text-transform: #{$text-transform};

    > .nav-folder-title-content::before {
      content: $emoji;
    }
  }
  .nav-folder-title[data-path^="#{$folder-name}"],
  .nav-file-title[data-path^="#{$folder-name}"] {
    color: #{$rgb-color};
  }
  body:not(.is-grabbing) .nav-file-title[data-path^="#{$folder-name}"]:hover,
  .nav-folder-title[data-path^="#{$folder-name}"].is-being-dragged,
  .nav-folder-title[data-path^="#{$folder-name}"]:hover,
  body:not(.is-grabbing) .nav-folder-title[data-path^="#{$folder-name}"]:hover,
  .nav-file-title[data-path^="#{$folder-name}"].is-being-dragged,
  .nav-file-title[data-path^="#{$folder-name}"]:hover {
    color: #{$rgb-color};
  }
  .nav-file-title[data-path*="#{$folder-name}"].is-active,
  .nav-folder-title[data-path*="#{$folder-name}"].is-active {
    color: #{$rgb-color};
    font-style: italic;
  }
}
