body {
// https://accessiblepalette.com/?lightness=98.2,93.9,87.5,82.5,74.8,66,48.4,30.6,19.4,10&C76E85=0,0&DD5755=0,0&d78e6e=0,-8&E1BA60=0,-10&5c7a62=0,0&3376AD=0,10&8E6787=0,0&808080=0,0&009698=0,-3

  --pink-50: oklch(0.319 0.06 2.735);
  --pink-100: oklch(0.398 0.075 2.735);
  --pink-200: oklch(0.476 0.09 2.735);
  --pink-300: oklch(0.555 0.104 2.735);
  --pink-500: oklch(0.634 0.119 2.735);
  --pink-700: oklch(0.713 0.09 2.735);
  --pink-800: oklch(0.792 0.06 2.735);
  --pink-900: oklch(0.871 0.034 2.735);
  --pink-950: oklch(0.95 0.012 2.735);
  --pink-0: var(--pink-950);
  --pink-1: var(--pink-900);   --pink-1-rgb: 104, 53, 64;
  --pink-2: var(--pink-800);   --pink-2-rgb: 134, 69, 83;
  --pink-3: var(--pink-700);
  --pink-4: var(--pink-500);   --pink-4-rgb: 197, 105, 125;
  --pink-5: var(--pink-300);
  --pink-6: var(--pink-200);

  --red-50: oklch(0.174 0.046 24.111);
  --red-100: oklch(0.271 0.072 24.111);
  --red-200: oklch(0.368 0.098 24.111);
  --red-300: oklch(0.465 0.123 24.111);
  --red-500: oklch(0.562 0.149 24.111);
  --red-700: oklch(0.659 0.149 24.111);
  --red-800: oklch(0.756 0.096 24.111);
  --red-900: oklch(0.853 0.052 24.111);
  --red-950: oklch(0.95 0.016 24.111);
  --red-0: var(--red-950);
  --red-1: var(--red-900);   --red-1-rgb: 67, 21, 18;
  --red-2: var(--red-800);   --red-2-rgb: 106, 38, 33;
  --red-3: var(--red-700);
  --red-4: var(--red-500);   --red-4-rgb: 189, 74, 66;
  --red-5: var(--red-300);   --red-5-rgb: 222, 104, 93;
  --red-6: var(--red-200);

  --orange-50: oklch(0.316 0.056 39.413);
  --orange-100: oklch(0.395 0.07 39.413);
  --orange-200: oklch(0.474 0.084 39.413);
  --orange-300: oklch(0.554 0.098 39.413);
  --orange-500: oklch(0.633 0.112 39.413);
  --orange-700: oklch(0.712 0.103 39.413);
  --orange-800: oklch(0.791 0.069 39.413);
  --orange-900: oklch(0.871 0.04 39.413);
  --orange-950: oklch(0.95 0.014 39.413);
  --orange-0: var(--orange-950);
  --orange-1: var(--orange-900);   --orange-1-rgb: 102, 56, 37;
  --orange-2: var(--orange-800);   --orange-2-rgb: 132, 74, 50;
  --orange-3: var(--orange-700);
  --orange-4: var(--orange-500);   --orange-4-rgb: 195, 113, 78;
  --orange-5: var(--orange-300);
  --orange-6: var(--orange-200);

  --yellow-50: oklch(0.451 0.056 83.018);
  --yellow-100: oklch(0.513 0.064 83.018);
  --yellow-200: oklch(0.576 0.071 83.018);
  --yellow-300: oklch(0.638 0.079 83.018);
  --yellow-500: oklch(0.701 0.087 83.018);
  --yellow-700: oklch(0.763 0.095 83.018);
  --yellow-800: oklch(0.825 0.102 83.018);
  --yellow-900: oklch(0.888 0.069 83.018);
  --yellow-950: oklch(0.95 0.03 83.018);
  --yellow-bright: oklch(0.9855 0.0098 87.47);
  --yellow-0: var(--yellow-950);
  --yellow-1: var(--yellow-900);
  --yellow-2: var(--yellow-800);   --yellow-2-rgb: 142, 117, 64;
  --yellow-3: var(--yellow-700);   --yellow-3-rgb: 163, 135, 74;
  --yellow-4: var(--yellow-500);
  --yellow-5: var(--yellow-300);

  --green-50: oklch(0.149 0.014 150.52);
  --green-100: oklch(0.249 0.023 150.52);
  --green-200: oklch(0.349 0.032 150.52);
  --green-300: oklch(0.449 0.041 150.52);
  --green-500: oklch(0.549 0.051 150.52);
  --green-700: oklch(0.649 0.06 150.52);
  --green-800: oklch(0.749 0.069 150.52);
  --green-900: oklch(0.849 0.078 150.52);
  --green-950: oklch(0.949 0.029 150.52);
  --green-0: var(--green-950);
  --green-1: var(--green-900);   --green-1-rgb: 25, 37, 26;
  --green-2: var(--green-800);   --green-2-rgb: 46, 63, 46;
  --green-3: var(--green-700);
  --green-4: var(--green-500);   --green-4-rgb: 92, 122, 92;
  --green-5: var(--green-300);   --green-5-rgb: 117, 154, 117;
  --green-6: var(--green-200);

  --cyan-50: oklch(0.295 0.042 195.119);
  --cyan-100: oklch(0.377 0.054 195.119);
  --cyan-200: oklch(0.459 0.065 195.119);
  --cyan-300: oklch(0.541 0.077 195.119);
  --cyan-500: oklch(0.623 0.089 195.119);
  --cyan-700: oklch(0.704 0.1 195.119);
  --cyan-800: oklch(0.786 0.112 195.119);
  --cyan-900: oklch(0.868 0.123 195.119);
  --cyan-950: oklch(0.95 0.063 195.119);
  --cyan-0: var(--cyan-950);
  --cyan-1: var(--cyan-900);   --cyan-1-rgb: 22, 74, 71;
  --cyan-2: var(--cyan-800);   --cyan-2-rgb: 33, 99, 95;
  --cyan-3: var(--cyan-700);
  --cyan-4: var(--cyan-500);   --cyan-4-rgb: 54, 152, 145;
  --cyan-5: var(--cyan-300);
  --cyan-6: var(--cyan-200);

  --blue-50: oklch(0.305 0.037 249.507);
  --blue-100: oklch(0.386 0.046 249.507);
  --blue-200: oklch(0.467 0.056 249.507);
  --blue-300: oklch(0.547 0.066 249.507);
  --blue-500: oklch(0.628 0.076 249.507);
  --blue-700: oklch(0.708 0.068 249.507);
  --blue-800: oklch(0.789 0.048 249.507);
  --blue-900: oklch(0.869 0.029 249.507);
  --blue-950: oklch(0.95 0.011 249.507);
  --blue-0: var(--blue-950);
  --blue-1: var(--blue-900);   --blue-1-rgb: 49, 70, 88;
  --blue-2: var(--blue-800);   --blue-2-rgb: 65, 93, 116;
  --blue-3: var(--blue-700);
  --blue-4: var(--blue-500);   --blue-4-rgb: 100, 140, 174;
  --blue-5: var(--blue-300);
  --blue-6: var(--blue-200);

  --purple-50: oklch(0.164 0.02 332.854);
  --purple-100: oklch(0.263 0.031 332.854);
  --purple-200: oklch(0.361 0.043 332.854);
  --purple-300: oklch(0.459 0.055 332.854);
  --purple-500: oklch(0.557 0.067 332.854);
  --purple-700: oklch(0.655 0.078 332.854);
  --purple-800: oklch(0.754 0.061 332.854);
  --purple-900: oklch(0.852 0.033 332.854);
  --purple-950: oklch(0.95 0.01 332.854);
  --purple-0: var(--purple-950);
  --purple-1: var(--purple-900);   --purple-1-rgb: 46, 31, 41;
  --purple-2: var(--purple-800);   --purple-2-rgb: 75, 53, 68;
  --purple-3: var(--purple-700);
  --purple-4: var(--purple-500);   --purple-4-rgb: 140, 101, 127;
  --purple-5: var(--purple-300);
  --purple-6: var(--purple-200);

  // Gray
  --gray-light-8:#fafafa;
  --gray-light-7:#f8f8f8;
  --gray-light-6:#f5f5f5;
  --gray-light-5:#f1f1f1;
  --gray-light-4:#ebebeb;
  --gray-light-3:#e3e3e3;
  --gray-light-2:#dbdbdb; // 0
  --gray-light-1:#cdcdcd; // 1
  --gray:        #b8b8b8; // 2
  --gray-dark-1: #a0a0a0; // 3
  --gray-dark-2: #898989;
  --gray-dark-3: #737373; // 4
  --gray-dark-4: #5d5d5d;
  --gray-dark-5: #484848; // 5
  --gray-dark-6: #3f3f3f;
  --gray-dark-7: #2f2f2f; // 6
  --gray-dark-75:#272727;
  --gray-dark-8: #212121;
  --gray-dark-85:#1e1e1e;
  --gray-dark-9: #1b1b1b;
  --gray-dark-10:#070707;

  // Pink accent
  --accent-h: 344;
  --accent-s: 30%;
  --accent-l: 51%;

  // Default primary / secondary accent
  --primary-accent-0: var(--purple-0);
  --primary-accent-1: var(--purple-1);
  --primary-accent-2: var(--purple-2);
  --primary-accent-3: var(--purple-3);
  --primary-accent-4: var(--purple-4);
  --primary-accent-5: var(--purple-5);
  --primary-accent-6: var(--purple-6);

  --secondary-accent-0: var(--green-0);
  --secondary-accent-1: var(--green-1);
  --secondary-accent-2: var(--green-2);
  --secondary-accent-3: var(--green-3);
  --secondary-accent-4: var(--green-4);
  --secondary-accent-5: var(--green-5);
  --secondary-accent-6: var(--green-6);
}
