// Want a different font? This is the file to change! (02-fonts.scss)
body {
  // style settings baseline
  --ebw-font-text: 'IBM Plex Sans', Helvetica Neue;
  --ebw-font-monospace: 'Fira Code', 'Source Code Pro', Jetbrains Mono;
  --ebw-header-font: 'Architects Daughter';
  --ebw-header-font-caps-variant: normal;
  --ebw-font-tags: var(--ebw-header-font);
  --ebw-font-callout-title: var(--ebw-header-font);

  --font-interface-theme: var(--ebw-font-text);
  --font-text-theme: var(--ebw-font-text);
  --font-monospace-theme: var(--ebw-font-monospace);
  --font-mermaid: var(--ebw-font-monospace);

  --ebw-p-modifier: 1;
  --ebw-header-modifier: 1.4;

  /* Calculates the spacings from the variables above */
  --p-spacing: calc(var(--font-text-size) * var(--ebw-p-modifier));
  --heading-spacing: calc(var(--p-spacing) * var(--ebw-header-modifier));
}
