@use '03-core-theme-dark' as *;
@use '03-core-theme-light' as *;


.theme-dark {
  &.is-tablet {
    --titlebar-background: var(--background-secondary);
    --titlebar-background-focused: var(--background-secondary);
    --interactive-normal: var(--background-primary-alt);
  }
}
