.theme-dark {
  --background-primary: var(--gray-dark-85);           //  Note background
  --background-primary-alt: var(--gray-dark-75);       //  Note title background

  --background-secondary: var(--gray-dark-7);         //  Sidebar/modal background, active/hover tab nav items, tab content, drag ghost, menu item hover
  --background-secondary-alt: var(--gray-dark-8);     //  muted button, checkbox container, kbd, modal border, modal button, tab nav items, vertical tab header, clickable tree item, card, drag ghost border

  --background-modifier-border: black;   //  Border outline of quotes, tables, line breaks
  --background-modifier-border-focus: black;
  --background-modifier-form-field: rgba(0, 0, 0, 0.3);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22); // Search Bar Active Highlight
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: var(--green-5);  //  with text-on-accent / Publish Upload Success Background
  --background-modifier-error: var(--red-5);   //  with text-on-accent / Delete Screen Button
  --background-modifier-error-rgb: 61, 0, 0;           //  Ctrl F Search Background
  --background-modifier-error-hover: var(--red-5);
  --background-modifier-cover: rgba(0, 0, 0, 0.8);   //  Obsidian Title Bar

  --text-accent: var(--primary-accent-2);                        // Links
  --text-accent-hover: var(--gray-light-8);

  --text-normal: var(--gray-light-1);                  //  Text body of note
  --text-muted: var(--gray);                   //  Text darker for sidebar, toggles, inactive, tags, etc
  --text-faint: var(--gray-dark-1);                    //  Link brackets color

  --text-error: var(--red-3);

  --text-success: var(--green-3);

  --text-highlight-fg: var(--gray-dark-7);
  --text-highlight-bg: var(--primary-accent-2);
  --text-highlight-bg-active: rgba(255, 216, 99, 0.664);

  --text-selection: rgba(var(--primary-accent-4-rgb), 0.2);
  --text-selection-active: rgba(var(--primary-accent-4-rgb), 0.3);

  --indentation-guide: var(--gray-dark-7);
  --indentation-guide-active: var(--gray-dark-6);

  // Text on accent should work as foreground for all interactive elements
  --text-on-accent: var(--gray-light-8);                // Program Title bar text
  --interactive-hover: var(--primary-accent-4);         // Button hover text; pin
  --interactive-normal: var(--background-primary-alt);
  --interactive-accent: var(--secondary-accent-4);      // Workspace Note Title Underline
  --interactive-accent-hover: var(--primary-accent-4);  // Menu Button Hover

  --ebw-alpha2: rgba(0, 0, 0, 0.2);
  --ebw-alpha4: rgba(0, 0, 0, 0.4);

  // Color Spectrum
  --color-red-rgb: var(--red-2-rgb);
  --color-red: var(--red-2);
  --color-orange-rgb: var(--orange-2-rgb);
  --color-orange: var(--orange-2);
  --color-yellow-rgb: var(--yellow-2-rgb);
  --color-yellow: var(--yellow-2);
  --color-green-rgb: var(--green-2-rgb);
  --color-green: var(--green-2);
  --color-cyan-rgb: var(--cyan-2-rgb);
  --color-cyan: var(--cyan-2);
  --color-blue-rgb: var(--blue-2-rgb);
  --color-blue: var(--blue-2);
  --color-purple-rgb: var(--purple-2-rgb);
  --color-purple: var(--purple-2);
  --color-pink-rgb: var(--pink-2-rgb);
  --color-pink: var(--pink-2);

  &.is-tablet {
    --titlebar-background: var(--background-secondary);
    --titlebar-background-focused: var(--background-secondary);
    --interactive-normal: var(--background-primary-alt);
  }
}
