.theme-light {
    --background-primary: var(--gray-light-7);                 //  Note background
    --background-primary-alt: var(--gray-light-5);             //  Note title background

    --background-secondary: var(--gray-light-3);               //  Sidebar background
    --background-secondary-alt: var(--gray-light-4);           //  Sidebar title background

    --background-modifier-border: var(--gray-light-1);         //  Border outline of quotes, tables, line breaks

    --background-modifier-success:     var(--green-2);         // Publish Upload Success Background
    --background-modifier-success-rgb: var(--green-2-rgb);     // Publish Upload Success Background

    --background-modifier-error: var(--red-4);                 // Delete Screen Button
    --background-modifier-error-rgb: 188,83,69;
    --background-modifier-error-hover: var(--red-4);

    --text-normal: var(--gray-dark-5);                        // Text body of note
    --text-muted: var(--gray-dark-4);                         // Text darker for sidebar, toggles, inactive, tags, etc
    --text-faint: var(--gray-dark-1);                         // Link brackets color

    --text-accent: var(--primary-accent-4);                   // Links
    --text-accent-hover: var(--primary-accent-5);

    --text-success: var(--green-4);
    --text-error: var(--red-5);

    --text-highlight-fg: var(--gray-dark-7);
    --text-highlight-bg-rgb: var(--primary-accent-4-rgb);
    --text-highlight-bg: rgba(var(--text-highlight-bg-rgb), 0.2);
    --text-selection: rgba(var(--secondary-accent-4-rgb), 0.2);

    // Text on accent should work as foreground for all interactive elements
    --text-on-accent: var(--gray-light-8);                // Program Title bar text
    --interactive-hover: var(--primary-accent-1);         // Button hover text; pin
    --interactive-normal: var(--background-primary-alt);
    --interactive-accent: var(--secondary-accent-4);      // Workspace Note Title Underline
    --interactive-accent-hover: var(--primary-accent-4);  // Menu Button Hover

    // Color Spectrum
    --color-red-rgb: var(--red-4-rgb);
    --color-red: var(--red-4);
    --color-orange-rgb: var(--orange-4-rgb);
    --color-orange: var(--orange-4);
    --color-yellow-rgb: var(--yellow-3-rgb);
    --color-yellow: var(--yellow-3);
    --color-green-rgb: var(--green-4-rgb);
    --color-green: var(--green-4);
    --color-cyan-rgb: var(--cyan-4-rgb);
    --color-cyan: var(--cyan-4);
    --color-blue-rgb: var(--blue-4-rgb);
    --color-blue: var(--blue-4);
    --color-purple-rgb: var(--purple-4-rgb);
    --color-purple: var(--purple-4);
    --color-pink-rgb: var(--pink-4-rgb);
    --color-pink: var(--pink-4);

    --color-base-00: var(--gray-light-8);
    --color-base-05: var(--gray-light-7);
    --color-base-10: var(--gray-light-6);
    --color-base-20: var(--gray-light-5);
    --color-base-25: var(--gray-light-3);
    --color-base-30: var(--gray-light-2);
    --color-base-35: var(--gray-light-1);
    --color-base-40: var(--gray);
    --color-base-50: var(--gray-dark-1);
    --color-base-60: var(--gray-dark-3);
    --color-base-70: var(--gray-dark-4);
    --color-base-100: var(--gray-dark-8);
}
