// This file is suitable for publish

.theme-dark {
  --bold-color: var(--blue-3);
  --italic-color: var(--pink-2);
  --ebw-strong-em: var(--yellow-2);
  --ebw-link-underline: var(--cyan-4);
  --ebw-link-hidden: var(--cyan-4);

  --link-color: var(--gray-light-1);
  --link-color-hover: var(--cyan-2);

  --ebw-del-link-decoration-color: rgba(203, 203, 203, 0.5);
}

.theme-light {
  --bold-color: var(--blue-4);
  --italic-color: var(--pink-4);
  --ebw-strong-em: var(--yellow-3);
  --ebw-link-underline: var(--cyan-3);
  --ebw-link-hidden: var(--cyan-2);

  --link-color: var(--gray-dark-3);
  --link-color-hover: var(--cyan-4);

  --ebw-del-link-decoration-color: rgba(100, 100, 100, 0.5);
}

body {
  --link-decoration: underline;
  --link-decoration-hover: underline;
  --link-external-decoration: underline;
  --link-external-decoration-hover: underline;

  --link-decoration-color: var(--ebw-link-underline);

  --link-external-color: var(--link-color);
  --link-external-color-hover: var(--link-color-hover);

  --link-unresolved-color: var(--link-color);
  --link-unresolved-opacity: 0.9;
  --link-unresolved-decoration-style: dotted;
  --link-unresolved-decoration-color: var(--ebw-link-underline);
}


// Strong

strong em,
strong em a.internal-link {
  color: var(--ebw-strong-em);
}
.markdown-rendered del a.external-link,
.markdown-rendered del a.internal-link,
.markdown-rendered del a.internal-link.is-unresolved {
  text-decoration: line-through var(--link-decoration-color);
}
a {
  text-decoration-color: var(--link-decoration-color);
}

del a,
.markdown-rendered del a.external-link,
.markdown-rendered del a.internal-link,
.markdown-rendered del a.internal-link.is-unresolved {
  text-decoration-color: var(--ebw-del-link-decoration-color);
}

.markdown-rendered {
  .internal-link.is-unresolved::after {
    content: ' ✎';
    color: var(--ebw-link-underline);
  }
}

em a {
  color: var(--italic-color);
  text-decoration: var(--link-decoration);
  text-decoration-color: var(--link-decoration-color);
}

strong a{
  color: var(--bold-color);
  text-decoration: var(--link-decoration);
}

em a:hover,
strong a:hover {
  color: var(--link-color-hover);
  text-decoration: var(--link-decoration-hover);
}

.external-link {
  background-position: center right;
  background-size: .9em;
}

// Highlight, matched text
.search-result-file-matched-text,
.markdown-preview-view mark,
.markdown-rendered mark {
  color: var(--text-highlight-fg);
}
