// This file is suitable for publish
// Body + theme-dark
body {
  --bold-color: var(--blue-3);
  --italic-color: var(--pink-2);
  --ebw-strong-em: var(--yellow-2);
  --ebw-link-underline: var(--cyan-4);
  --ebw-link-hidden: var(--cyan-4);

  // --link-color 	Resolved link text color
  --link-color: var(--gray-light-1);
  // --link-color-hover 	Resolved link text color (hover)
  --link-color-hover: var(--cyan-2);
  // --link-decoration 	Resolved link text decoration
  --link-decoration: underline;
  // --link-decoration-hover 	Resolved link text decoration (hover)
  --link-decoration-hover: underline;
  // --link-decoration-thickness 	Resolved link text decoration thickness
  // --link-unresolved-color 	Unresolved link text color
  --link-unresolved-color: var(--link-color);
  // --link-unresolved-opacity 	Unresolved link opacity
  --link-unresolved-opacity: 0.9;
  // --link-unresolved-filter 	Unresolved link filter, e.g. hue-rotate
  // --link-unresolved-decoration-style 	Unresolved link text decoration style
  --link-unresolved-decoration-style: dotted;
  // --link-unresolved-decoration-color 	Unresolved link text decoration color
  --link-unresolved-decoration-color: var(--ebw-link-underline);
  // --link-external-color 	External link text color
  --link-external-color: var(--link-color);
  // --link-external-color-hover 	External link text color (hover)
  --link-external-color-hover: var(--link-color-hover);
  // --link-external-decoration 	External link text decoration
  --link-external-decoration: underline;
  // --link-external-decoration-hover 	External link text decoration (hover)
  --link-external-decoration-hover: underline;
}
.theme-light {
  --bold-color: var(--blue-4);
  --italic-color: var(--pink-4);
  --ebw-strong-em: var(--yellow-3);
  --ebw-link-underline: var(--cyan-3);
  --ebw-link-hidden: var(--cyan-2);

  --link-color: var(--gray-dark-3);
  --link-color-hover: var(--cyan-4);
}
a {
  text-decoration-color: var(--ebw-link-underline);
}
.markdown-rendered {
  a del,
  del a,
  del a.internal-link {
    color: var(--text-muted);
  }
  em a,
  em a.internal-link,
  em a.internal-link.is-unresolved {
    color: var(--italic-color);
  }
  strong a,
  strong a.internal-link,
  strong a.internal-link.is-unresolved {
    color: var(--bold-color);
  }
  strong em,
  strong em a.external-link,
  strong em a.internal-link,
  strong em a.internal-link.is-unresolved {
    color: var(--ebw-strong-em);
  }
  .internal-link.is-unresolved {
    text-decoration-line: var(--link-decoration);
    text-decoration-color: var(--ebw-link-underline);
  }
  .internal-link.is-unresolved::after {
    content: ' ✎';
    color: var(--ebw-link-underline);
  }
}

em a:hover,
strong a:hover {
  color: var(--link-color-hover);
  text-decoration: var(--link-decoration-hover);
}

.external-link {
  background-position: center right;
  background-size: .9em;
}

// Highlight, matched text
.search-result-file-matched-text,
.markdown-preview-view mark,
.markdown-rendered mark {
  color: var(--text-highlight-fg);
}
