@use '08-blockquote-callouts' as callblock;

.rendered-widget,
.markdown-preview-section {
 @include callblock.blockquote-styles;
}

// Admonition has limited support on publish. Making app only.

.admonition {
  margin: 1em 0;
  padding: var(--callout-padding);
}
.is-live-preview {
  .admonition {
    margin: 0;
    padding: var(--callout-padding);

    .admonition-content {
      > :first-child {
        margin-top: 0.5em;
      }
      > :last-child {
        margin-bottom: 0.5em;
      }
      > * {
        margin-top: initial;
        margin-bottom: initial;
      }
      > * br {
        display: none;
      }
      ul,
      ol {
        white-space: normal;
      }
      .math-block > mjx-container {
        padding: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.markdown-source-view.mod-cm6 .admonition-parent > .edit-block-button {
  right: calc(var(--size-4-2) + var(--icon-size) + 0.375rem);
  top: calc(var(--size-2-2) + 0.125rem);
}
