@mixin invisibleEmbed() {
  --embed-border-left: none;
  --embed-border-right: none;
  --embed-border-start: none;
  --embed-border-end: none;
  --embed-padding: 0;
}

@mixin visibleEmbed() {
  --embed-border-left: 0.0625rem solid var(--ebw-embed-border-color);
  --embed-border-right: 0.0625rem solid var(--ebw-embed-border-color);
  --embed-padding: var(--size-2-1) var(--size-4-2);
}

body {
  --ebw-embed-border-color: var(--gray-dark-7);
  @include visibleEmbed;
}

.theme-light {
  --ebw-embed-border-color: var(--primary-accent-1);
}

// Floating images
img,
div {
  &[alt~='float-right'] {
    float: right;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  &[alt~='float-left'] {
    float: left;
    margin-right: 1rem;
    margin-top: 1rem;
  }
  // Use an anchor tag: ![Image](image.jpg#portrait)
  &[src$="#portrait"] {
    float: right;
    margin-left: 0.3125rem;
    width: 12.5rem;
    height: 12.5rem;
  }
  &[src$="#callout"] {
    float: right;
    margin-left: 0.3125rem;
    width: 50%;
  }
  &[src$="#small-right"] {
    float: right;
    margin-left: 0.3125rem;
    width: 4.6875rem;
  }
}

// Naked embeds
.markdown-embed.internal-embed[alt="invisible-embed"] {
  @include invisibleEmbed;
}

.internal-embed[alt="visible-embed"] {
  @include visibleEmbed;
}

.markdown-embed {
  border-radius: var(--radius-l);
  position: relative;

  .markdown-embed-content {
    max-height: unset;
    overflow: unset;

    > .markdown-preview-view {
      // no scroll
      overflow-y: unset;
    }
  }
}

.internal-embed .markdown-embed-content {
  .markdown-rendered div > ul,
  .markdown-rendered div > ol {
    display: inline-block;
    margin-block-start: 0;
  }
}

li .internal-embed {
  blockquote {
    margin: 0;
  }
  p {
    margin-bottom: 0;
  }
  .markdown-embed-content {
    padding-right: 12px;
  }
}

// Hide the embedded header and use other styling to create uniform padding
.ebullientworks-hide-embedded-heading {
  .markdown-embed {
    .markdown-embed-title,
    .mod-header {
      display: none;
    }
    div.markdown-preview-section > div {
      > h1[data-heading]:first-of-type,
      > h2[data-heading]:first-of-type,
      > h3[data-heading]:first-of-type,
      > h4[data-heading]:first-of-type,
      > h5[data-heading]:first-of-type,
      > h6[data-heading]:first-of-type {
        display: none;
      }
    }
  }
}

// EMBED LINK
.markdown-embed-link svg {
  color: var(--ebw-link-underline);
  height: 0.875rem;
  width: 0.875rem;
}

.markdown-embed-link,
.file-embed-link {
  top: 0;
  right: 0;
  height: 1.125rem;
  width: 1.125rem;
  text-align: center;
  vertical-align: middle;
  z-index: var(--layer-tooltip);
}

// Scaled iframes
.embedframe iframe {
  width: 125%;
  height: 46.875rem;
  -webkit-transform: scale(.8);
  transform: scale(.8);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.embedframe .scaled-iframe {
  width: 100%;
  height: 37.5rem;
  position: relative;
}

.markdown-source-view.invisible-embed,
.markdown-rendered.invisible-embed {
  @include invisibleEmbed;
}

.markdown-source-view {
  .internal-embed {
    --list-indent: 1.6em;
    vertical-align: top;
    display: inline-block;
    width: calc(100% - 1.25rem);

    .markdown-embed-content {
      padding-right: 12px;

      li.task-list-item {
        position: relative;
        text-indent: -21px;
        margin-left: -0.25em;
        padding-left: 0;
      }
    }
  }

  .HyperMD-list-line > .internal-embed {
    .markdown-rendered ul,
    .markdown-rendered ol {
      display: inline-block;
      margin-block-start: 0;
      margin-block-end: 0;
    }
    .markdown-preview-section {
      display: inline-block;
      blockquote {
        margin: 0;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}
