body {
  --ebw-embed-border-color: var(--gray-dark-7);
  --embed-border-left: 0.0625rem solid var(--ebw-embed-border-color);
  --embed-border-right: 0.0625rem solid var(--ebw-embed-border-color);
  --embed-padding: 0 var(--size-4-1);
}
.theme-light {
  --ebw-embed-border-color: var(--primary-accent-1);
}
// ------------------------------------------------------
// Floating images
// ------------------------------------------------------
img,
div {
  &[alt~='float-right'] {
    float: right;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  &[alt~='float-left'] {
    float: left;
    margin-right: 1rem;
    margin-top: 1rem;
  }
  // Use an anchor tag: ![Image](image.jpg#portrait)
  &[src$="#portrait"] {
    float: right;
    margin-left: 0.3125rem;
    width: 12.5rem;
    height: 12.5rem;
  }
  &[src$="#callout"] {
    float: right;
    margin-left: 0.3125rem;
    width: 50%;
  }
  &[src$="#small-right"] {
    float: right;
    margin-left: 0.3125rem;
    width: 4.6875rem;
  }
}
// ------------------------------------------------------
// Naked embeds
// ------------------------------------------------------

.markdown-embed {
  border-radius: var(--radius-l);
  position: relative;

  .markdown-embed-content {
    max-height: unset;
    overflow: unset;

    > .markdown-preview-view  {
      // no scroll
      overflow-y: unset;
    }
  }
}

.internal-embed .markdown-embed-content {
  .markdown-rendered ul,
  .markdown-rendered ol {
    display: inline-block;
    margin-block-start: 0;
  }
}

li .internal-embed {
  blockquote {
    margin: 0;
  }
  p {
    margin-bottom: 0;
  }
  .markdown-embed-content {
    padding-right: 12px;
  }
}

// Hide the embedded header and use other styling to create uniform padding
.ebullientworks-hide-embedded-heading {
  .markdown-embed {
    .markdown-embed-title,
    .mod-header {
      display: none;
    }
    div.markdown-preview-pusher + div,
    div.mod-header + div {
      > h1[data-heading],
      > h2[data-heading],
      > h3[data-heading],
      > h4[data-heading],
      > h5[data-heading],
      > h6[data-heading] {
        display: none;
      }
    }
  }
}

// EMBED LINK
.markdown-embed-link svg {
  color: var(--ebw-link-underline);
  height: 0.875rem;
  width: 0.875rem;
}

.markdown-embed-link,
.file-embed-link {
  top: 0;
  right: 0;
  height: 1.125rem;
  width: 1.125rem;
  text-align: center;
  vertical-align: middle;
  z-index: var(--layer-tooltip);
}
