@use '10-images-embeds' as *;


.internal-embed[alt="invisible-embed"],
.markdown-source-view.invisible-embed,
.markdown-rendered.invisible-embed {
  --embed-border-left: none;
  --embed-border-right: none;
  --embed-padding: 0;
}

.markdown-source-view {
  .internal-embed {
    --list-indent: 1.6em;
    vertical-align: top;
    display: inline-block;
    width: calc(100% - 1.25rem);

    .markdown-embed-content {
      padding-right: 12px;

      li.task-list-item {
        position: relative;
        text-indent: -21px;
        margin-left: -0.25em;
        padding-left: 0px;
      }
    }
  }

  .HyperMD-list-line>.internal-embed {
    .markdown-rendered ul,
    .markdown-rendered ol {
      display: inline-block;
      margin-block-start: 0;
      margin-block-end: 0;
    }
    .markdown-preview-section {
      display: inline-block;
      blockquote {
        margin: 0;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}

// ------------------------------------------------------
// Scaled iframes
// cssclass: embedframe
// <div class='scaled-iframe'><iframe src="..." ></iframe></div>
// ------------------------------------------------------

.embedframe iframe {
  width: 125%;
  height: 46.875rem;
  -webkit-transform: scale(.8);
  transform: scale(.8);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.embedframe .scaled-iframe {
  width: 100%;
  height: 37.5rem;
  position: relative;
}
