@use '10-images-embeds' as *;

.markdown-source-view.invisible-embed,
.markdown-rendered.invisible-embed {
  @include invisibleEmbed;
}

.markdown-source-view {
  .internal-embed {
    --list-indent: 1.6em;
    vertical-align: top;
    display: inline-block;
    width: calc(100% - 1.25rem);

    .markdown-embed-content {
      padding-right: 12px;

      li.task-list-item {
        position: relative;
        text-indent: -21px;
        margin-left: -0.25em;
        padding-left: 0px;
      }
    }
  }

  .HyperMD-list-line>.internal-embed {
    .markdown-rendered ul,
    .markdown-rendered ol {
      display: inline-block;
      margin-block-start: 0;
      margin-block-end: 0;
    }
    .markdown-preview-section {
      display: inline-block;
      blockquote {
        margin: 0;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}
