.theme-dark {
  --ebw-calendar-year: var(--primary-accent-3);
  --ebw-calendar-month: var(--secondary-accent-3);
  --ebw-today-hover: var(--gray-light-5);
  --ebw-today-text: var(--primary-accent-3);
  --day-planner-progress-fg: var(--secondary-accent-3);
  --day-planner-progress-bg: var(--secondary-accent-5);
}
.theme-light {
  --ebw-calendar-year: var(--primary-accent-4);
  --ebw-calendar-month: var(--secondary-accent-4);
  --ebw-today-hover: var(--gray-dark-5);
  --ebw-today-text: var(--primary-accent-4);
  --day-planner-progress-fg: var(--secondary-accent-1);
  --day-planner-progress-bg: var(--background-primary);
}
// ------------------------------------------------------
// Calendar, Fantasy Calendar
// ------------------------------------------------------
#calendar-container,
.calendarium {
  h3::before {
    display: none;
  }
  h3.calendar-name {
    font-size: 1.2em;
    font-family: var(--font-interface);
    font-variant-caps: var(--ebw-header-font-caps-variant);
  }
  .calendarium-title {
    font-size: 1em;
    font-family: var(--font-interface);
  }
  span.year {
    color: var(--ebw-calendar-year);
  }
  span.month {
    color: var(--ebw-calendar-month);
  }
}
.today,
.day.today .day-number {
  --color-text-today: var(--ebw-today-text);
  color: var(--ebw-today-text);
  font-weight: bold;

  &:hover {
    color: var(--ebw-today-hover);
  }
}
// ------------------------------------------------------
// Day Planner
// ------------------------------------------------------
.day-planner-progress-bar {
  background-color: var(--day-planner-progress-bg);
  border: 1px solid var(--tab-outline-color);
}
.day-planner-progress-value {
  height: 14px;
  background-color: var(--day-planner-progress-fg);
}
// ---
// Folder note
// ---
.folder-note-underline-path .has-folder-note.view-header-breadcrumb,
.folder-note-underline .has-folder-note .nav-folder-title-content {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--color-base-40);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}
// ------
// Fantasy Calendar
// ------
.mod-cta {
  .setting-item-description,
  .setting-item-name {
    color: var(--text-on-accent);
  }
}
