.theme-dark {
  --calendar-year: var(--primary-accent-3);
  --calendar-month: var(--secondary-accent-3);
  --calendar-dividing-line: var(--primary-accent-1);
  --day-planner-timeline-fg: var(--primary-accent-3);

  .calendar {

    .today {

      .span.day-number {
        color: var(--primary-accent-3);
        font-weight: bold;
      }
    }
  }

  .day.today:hover {
    color: var(--gray-light-5);
  }
}
.theme-light {
  --calendar-year: var(--primary-accent-4);
  --calendar-month: var(--secondary-accent-4);
  --calendar-dividing-line: var(--primary-accent-1);
  --day-planner-timeline-fg: var(--primary-accent-1);

  .week-num.active,
  .day.active {
    --color-dot: var(--text-on-accent);
  }
  .day.today {
    color: var(--primary-accent-4);
    font-weight: bold;
  }
  .day.today:hover {
    color: var(--gray-dark-5);
  }
  .calendarium .view-state.active {
    color: var(--text-on-accent);
  }
}
// ------------------------------------------------------
// Calendar, Fantasy Calendar
// ------------------------------------------------------
#calendar-container,
.calendarium {
  h3::before {
    display: none;
  }
  h3.calendar-name {
    font-size: 1.2em;
    font-family: var(--font-interface);
    font-variant-caps: var(--ebw-header-font-caps-variant);
  }
  .calendarium-title {
    font-size: 1em;
    font-family: var(--font-interface);
  }
  span.year {
    color: var(--calendar-year);
  }
  span.month {
    color: var(--calendar-month);
  }
}
// ------------------------------------------------------
// Tracker
// ------------------------------------------------------
.block-language-tracker {
  .tracker-month-header-month,
  .tracker-month-title-arrow {
    fill: var(--calendar-month);
  }
  // month display matches Calendar colors
  .tracker-month-header-year {
    fill: var(--calendar-year);
  }
  .tracker-month-dividing-line {
    fill: var(--calendar-dividing-line);
  }
  .tracker-month-weekday,
  .tracker-month-label {
    fill: var(--text-faint);
    fill-opacity: 1.0 !important; // bug
  }
}
// ------------------------------------------------------
// Day Planner
// ------------------------------------------------------
.day-planner-progress-bar {
  background-color: var(--background-primary);
  border: 1px solid var(--tab-outline-color);
}
.day-planner-progress-value {
  height: 14px;
  background-color: var(--day-planner-timeline-fg);
}
// ---
// Folder note
// ---
.folder-note-underline-path .has-folder-note.view-header-breadcrumb,
.folder-note-underline .has-folder-note .nav-folder-title-content {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--color-base-40);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}
// ------
// Fantasy Calendar
// ------
.mod-cta {
  .setting-item-description,
  .setting-item-name {
    color: var(--text-on-accent);
  }
}
