.theme-dark {
  .timeline-container h2 {
    color: var(--gray-dark-2);
  }
  .timeline-left::before {
    border: medium solid var(--gray-dark-2);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--gray-dark-2);
  }
  .timeline-right::before {
    border: medium solid var(--gray-dark-2);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--gray-dark-2) transparent transparent;
  }
  .timeline-container::after {
    border: 4px solid var(--primary-accent-4);
  }
}
.theme-light {
  .timeline-container h2 {
    color: var(--gray-light-1);
  }
  .timeline-left::before {
    border: medium solid var(--gray-light-1);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent var(--gray-light-1);
  }
  .timeline-right::before {
    border: medium solid var(--gray-light-1);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--gray-light-1) transparent transparent;
  }
  .timeline-container::after {
    border: 4px solid var(--primary-accent-2);
  }
  .timeline::after {
    background-color: var(--blue-1);
  }
}

.timeline-container {
  page-break-inside: avoid;
  h1:before,
  h2:before,
  h3:before,
  h4:before,
  h5:before,
  h6:before {
    display: none;
  }
}

.timeline-card a.internal-link {
  text-decoration: none;
}

