.ebullientworks-floating-frontmatter,
.ebullientworks-floating-frontmatter.is-mobile {
  .markdown-rendered {
    .metadata-container {
      float: right;
      position: absolute;
      right: .6rem;
      top: 0;
      width: 2rem;
      height: 2rem;
      overflow: hidden;
      border: none;
      background-color: transparent;

      .metadata-properties-heading,
      .metadata-content {
        visibility: hidden;
      }
      &::before {
        content: "✧";
        font-size: 20px;
        color: var(--primary-accent-3);
        float: right;
      }
      &:hover {
        .metadata-properties-heading,
        .metadata-content {
          visibility: visible;
        }
        .frontmatter-collapse-indicator {
          display: none;
        }
      }
    }

    .metadata-container:hover {
      border: 1px solid var(--background-modifier-border);
      background-color: var(--background-primary-alt);
      filter: drop-shadow(-.1rem .1rem .1rem var(--background-modifier-border));
      width: 80%;
      min-width: 200px;
      height: unset;
      z-index: 3;
      .metadata-property,
      .metadata-property[data-property-key="tags"] {
        --pill-background: var(--background-primary);
      }
    }
  }
}
