// Make Images and Videos Responsive
.internal-embed img {
  display: flex;
  justify-content: center;
  margin: 2em auto;
}

img {
  border-radius: 10px;
  aspect-ratio: 16 / 9;
  height: auto;
  width: auto;
}

iframe {
  aspect-ratio: 16 / 9;
  height: auto;
  width: auto;
}
