:root {
  --gray-light-5: #fafafa;
  --gray-light-4: #f5f5f5;
  --gray-light-3: #eeeeee;
  --gray-light-2: #e0e0e0;
  --gray-light-1: #bdbdbd;
  --gray: #9e9e9e;
  --gray-dark-1: #757575;
  --gray-dark-2: #616161;
  --gray-dark-3: #424242;
  --gray-dark-4: #212121;
  --gray-dark-5: #1b1b1b;
  --honeydew: #D6EADAff;
  --cambridge-blue: #ABC5B0ff;
  --morning-blue: #809F87ff;
  --amazon: #557A5Dff;
  --hunter-green: #2A5433ff;
  --papaya-whip: #FFF2D9ff;
  --papaya-whip-rgb: 255, 242, 217;
  --deep-champagne: #FFD993ff;
  --deep-champagne-rgb: 255, 217, 147;
  --maximum-yellow-red: #F2C46Eff;
  --sunray: #E4AE4Aff;
  --gamboge: #D79925ff;
  --harvest-gold: #C98300ff;
  --orchid-pink: #F5C2CFff;
  --mauvelous: #DE98AAff;
  --cinnamon-satin: #C76E85ff;
  --irresistible: #B0445Fff;
  --big-dip-oruby: #991A3Aff;
  --big-dip-oruby-rgb: 153, 26, 58;
  --magnolia: #F9F4F9;
  --magnolia-rgb: 249, 244, 249;
  --thistle: #E4CBE0ff;
  --lilac: #C3A4BEff;
  --mountbatten-pink: #A17E9Bff;
  --antique-fuchsia: #805779ff;
  --dark-byzantium: #5E3056ff;
  --uranian-blue: #ADD1E8ff;
  --dark-sky-blue: #87B8D7ff;
  --air-superiority-blue: #629FC5ff;
  --steel-blue: #3C85B4ff;
  --honolulu-blue: #166CA2ff;
  --celeste: #A6F2EEff;
  --middle-blue-green: #80D0CCff;
  --verdigris: #5BAFABff;
  --dark-cyan: #358D89ff;
  --skobeloff: #0F6B67ff;
  --alice-blue: #E0E7EDff;
  --silver-sand: #B7C2CCff;
  --silver-sand-rgb: 183, 194, 204;
  --cadet-grey: #8F9EAAff;
  --slate-gray: #667989ff;
  --black-coral: #3D5467ff;
  --black-coral-rgb: 61, 84, 103;
}
