@charset "UTF-8";
/*
Ebullientworks tasks 0.7.0 by @ebullient
*/
:root {
  --checkbox-checked: rgb(139, 167, 145);
  --checkbox-deferred: rgb(111, 166, 211);
  --checkbox-important: rgb(187, 79, 108);
  --checkbox-review: rgb(92, 122, 99);
  --checkbox-in-progress: rgb(89, 174, 170);
  --checkbox-question: rgb(234, 175, 0);
}

.theme-dark {
  --checkbox-cancelled: rgb(115, 115, 115);
  --checkbox-hover: rgb(137, 137, 137);
}

.theme-dark .print,
.theme-light {
  --checkbox-cancelled: rgb(159, 159, 159);
  --checkbox-hover: rgb(137, 137, 137);
}

/** Deal with Blue Topaz masks */
li[data-task] input[type=checkbox]::before {
  transform: none !important;
  -webkit-mask-image: none !important;
}

div[data-task=x],
ul > li.task-list-item[data-task=x] {
  --checkbox-color: var(--checkbox-checked);
  --checkbox-border-color: var(--checkbox-checked);
  --checkbox-marker-color: transparent;
  --checklist-done-decoration: none;
  color: var(--text-normal);
  font-weight: var(--font-normal);
  text-decoration: none;
}
div[data-task=x] input.task-list-item-checkbox[type=checkbox]:not(:checked),
ul > li.task-list-item[data-task=x] input.task-list-item-checkbox[type=checkbox]:not(:checked) {
  background-color: unset;
  background: unset;
}
div[data-task=x] input.task-list-item-checkbox[type=checkbox]:checked,
ul > li.task-list-item[data-task=x] input.task-list-item-checkbox[type=checkbox]:checked {
  background-color: unset;
  background: unset;
}
div[data-task=x] input.task-list-item-checkbox[type=checkbox]:checked:after,
ul > li.task-list-item[data-task=x] input.task-list-item-checkbox[type=checkbox]:checked:after {
  -webkit-mask-image: none;
  font-family: var(--font-text);
  background: unset;
  position: absolute;
  text-align: center;
  font-weight: var(--font-normal);
  font-size: calc(var(--checkbox-size) - 2px);
  left: 50%;
  margin-left: calc(-1 * var(--checkbox-size) / 2);
  line-height: var(--checkbox-size);
  color: var(--checkbox-color);
  content: "✓";
}

div[data-task="-"],
ul > li.task-list-item[data-task="-"] {
  --checkbox-color: var(--checkbox-cancelled);
  --checkbox-border-color: var(--checkbox-cancelled);
  --checkbox-marker-color: transparent;
  --checklist-done-decoration: line-through;
  color: var(--text-faint);
  font-weight: var(--font-normal);
  text-decoration: line-through;
}
div[data-task="-"] input.task-list-item-checkbox[type=checkbox]:not(:checked),
ul > li.task-list-item[data-task="-"] input.task-list-item-checkbox[type=checkbox]:not(:checked) {
  background-color: unset;
  background: unset;
}
div[data-task="-"] input.task-list-item-checkbox[type=checkbox]:checked,
ul > li.task-list-item[data-task="-"] input.task-list-item-checkbox[type=checkbox]:checked {
  background-color: unset;
  background: unset;
}
div[data-task="-"] input.task-list-item-checkbox[type=checkbox]:checked:after,
ul > li.task-list-item[data-task="-"] input.task-list-item-checkbox[type=checkbox]:checked:after {
  -webkit-mask-image: none;
  font-family: var(--font-monospace);
  background: unset;
  position: absolute;
  text-align: center;
  font-weight: var(--font-normal);
  font-size: calc(var(--checkbox-size) - 2px);
  left: 50%;
  margin-left: calc(-1 * var(--checkbox-size) / 2);
  line-height: var(--checkbox-size);
  color: var(--checkbox-color);
  content: "-";
}

div[data-task=">"],
ul > li.task-list-item[data-task=">"] {
  --checkbox-color: var(--checkbox-deferred);
  --checkbox-border-color: var(--checkbox-deferred);
  --checkbox-marker-color: transparent;
  --checklist-done-decoration: none;
  color: var(--text-normal);
  font-weight: var(--font-normal);
  text-decoration: none;
}
div[data-task=">"] input.task-list-item-checkbox[type=checkbox]:not(:checked),
ul > li.task-list-item[data-task=">"] input.task-list-item-checkbox[type=checkbox]:not(:checked) {
  background-color: unset;
  background: unset;
}
div[data-task=">"] input.task-list-item-checkbox[type=checkbox]:checked,
ul > li.task-list-item[data-task=">"] input.task-list-item-checkbox[type=checkbox]:checked {
  background-color: unset;
  background: unset;
}
div[data-task=">"] input.task-list-item-checkbox[type=checkbox]:checked:after,
ul > li.task-list-item[data-task=">"] input.task-list-item-checkbox[type=checkbox]:checked:after {
  -webkit-mask-image: none;
  font-family: var(--font-monospace);
  background: unset;
  position: absolute;
  text-align: center;
  font-weight: var(--font-normal);
  font-size: calc(var(--checkbox-size) - 2px);
  left: 50%;
  margin-left: calc(-1 * var(--checkbox-size) / 2);
  line-height: var(--checkbox-size);
  color: var(--checkbox-color);
  content: ">";
}

div[data-task=R],
ul > li.task-list-item[data-task=R] {
  --checkbox-color: var(--checkbox-review);
  --checkbox-border-color: var(--checkbox-review);
  --checkbox-marker-color: transparent;
  --checklist-done-decoration: none;
  color: var(--text-normal);
  font-weight: var(--font-normal);
  text-decoration: none;
}
div[data-task=R] input.task-list-item-checkbox[type=checkbox]:not(:checked),
ul > li.task-list-item[data-task=R] input.task-list-item-checkbox[type=checkbox]:not(:checked) {
  background-color: unset;
  background: unset;
}
div[data-task=R] input.task-list-item-checkbox[type=checkbox]:checked,
ul > li.task-list-item[data-task=R] input.task-list-item-checkbox[type=checkbox]:checked {
  background-color: unset;
  background: unset;
}
div[data-task=R] input.task-list-item-checkbox[type=checkbox]:checked:after,
ul > li.task-list-item[data-task=R] input.task-list-item-checkbox[type=checkbox]:checked:after {
  -webkit-mask-image: none;
  font-family: var(--font-text);
  background: unset;
  position: absolute;
  text-align: center;
  font-weight: var(--font-normal);
  font-size: calc(var(--checkbox-size) - 2px);
  left: 50%;
  margin-left: calc(-1 * var(--checkbox-size) / 2);
  line-height: var(--checkbox-size);
  color: var(--checkbox-color);
  content: "👀";
}

div[data-task=r],
ul > li.task-list-item[data-task=r] {
  --checkbox-color: var(--checkbox-review);
  --checkbox-border-color: var(--checkbox-review);
  --checkbox-marker-color: transparent;
  --checklist-done-decoration: none;
  color: var(--text-normal);
  font-weight: var(--font-normal);
  text-decoration: none;
}
div[data-task=r] input.task-list-item-checkbox[type=checkbox]:not(:checked),
ul > li.task-list-item[data-task=r] input.task-list-item-checkbox[type=checkbox]:not(:checked) {
  background-color: unset;
  background: unset;
}
div[data-task=r] input.task-list-item-checkbox[type=checkbox]:checked,
ul > li.task-list-item[data-task=r] input.task-list-item-checkbox[type=checkbox]:checked {
  background-color: unset;
  background: unset;
}
div[data-task=r] input.task-list-item-checkbox[type=checkbox]:checked:after,
ul > li.task-list-item[data-task=r] input.task-list-item-checkbox[type=checkbox]:checked:after {
  -webkit-mask-image: none;
  font-family: var(--font-text);
  background: unset;
  position: absolute;
  text-align: center;
  font-weight: var(--font-normal);
  font-size: calc(var(--checkbox-size) - 2px);
  left: 50%;
  margin-left: calc(-1 * var(--checkbox-size) / 2);
  line-height: var(--checkbox-size);
  color: var(--checkbox-color);
  content: "👀";
}

div[data-task="?"],
ul > li.task-list-item[data-task="?"] {
  --checkbox-color: var(--checkbox-question);
  --checkbox-border-color: var(--checkbox-question);
  --checkbox-marker-color: transparent;
  --checklist-done-decoration: none;
  color: var(--text-normal);
  font-weight: var(--font-bold);
  text-decoration: none;
}
div[data-task="?"] input.task-list-item-checkbox[type=checkbox]:not(:checked),
ul > li.task-list-item[data-task="?"] input.task-list-item-checkbox[type=checkbox]:not(:checked) {
  background-color: unset;
  background: unset;
}
div[data-task="?"] input.task-list-item-checkbox[type=checkbox]:checked,
ul > li.task-list-item[data-task="?"] input.task-list-item-checkbox[type=checkbox]:checked {
  background-color: unset;
  background: unset;
}
div[data-task="?"] input.task-list-item-checkbox[type=checkbox]:checked:after,
ul > li.task-list-item[data-task="?"] input.task-list-item-checkbox[type=checkbox]:checked:after {
  -webkit-mask-image: none;
  font-family: var(--font-monospace);
  background: unset;
  position: absolute;
  text-align: center;
  font-weight: var(--font-bold);
  font-size: calc(var(--checkbox-size) - 2px);
  left: 50%;
  margin-left: calc(-1 * var(--checkbox-size) / 2);
  line-height: var(--checkbox-size);
  color: var(--checkbox-color);
  content: "?";
}

div[data-task="!"],
ul > li.task-list-item[data-task="!"] {
  --checkbox-color: var(--checkbox-important);
  --checkbox-border-color: var(--checkbox-important);
  --checkbox-marker-color: transparent;
  --checklist-done-decoration: none;
  color: var(--text-normal);
  font-weight: var(--font-extrabold);
  text-decoration: none;
}
div[data-task="!"] input.task-list-item-checkbox[type=checkbox]:not(:checked),
ul > li.task-list-item[data-task="!"] input.task-list-item-checkbox[type=checkbox]:not(:checked) {
  background-color: unset;
  background: unset;
}
div[data-task="!"] input.task-list-item-checkbox[type=checkbox]:checked,
ul > li.task-list-item[data-task="!"] input.task-list-item-checkbox[type=checkbox]:checked {
  background-color: unset;
  background: unset;
}
div[data-task="!"] input.task-list-item-checkbox[type=checkbox]:checked:after,
ul > li.task-list-item[data-task="!"] input.task-list-item-checkbox[type=checkbox]:checked:after {
  -webkit-mask-image: none;
  font-family: var(--font-monospace);
  background: unset;
  position: absolute;
  text-align: center;
  font-weight: var(--font-extrabold);
  font-size: calc(var(--checkbox-size) - 2px);
  left: 50%;
  margin-left: calc(-1 * var(--checkbox-size) / 2);
  line-height: var(--checkbox-size);
  color: var(--checkbox-color);
  content: "!";
}

div[data-task="/"],
ul > li.task-list-item[data-task="/"] {
  --checkbox-color: var(--checkbox-in-progress);
  --checkbox-border-color: var(--checkbox-in-progress);
  --checkbox-marker-color: transparent;
  --checklist-done-decoration: none;
  color: var(--text-normal);
  font-weight: var(--font-normal);
  text-decoration: none;
}
div[data-task="/"] input.task-list-item-checkbox[type=checkbox]:not(:checked),
ul > li.task-list-item[data-task="/"] input.task-list-item-checkbox[type=checkbox]:not(:checked) {
  background-color: unset;
  background: unset;
}
div[data-task="/"] input.task-list-item-checkbox[type=checkbox]:checked,
ul > li.task-list-item[data-task="/"] input.task-list-item-checkbox[type=checkbox]:checked {
  background: linear-gradient(135deg, transparent 50%, var(--checkbox-in-progress) 50%);
}
div[data-task="/"] input.task-list-item-checkbox[type=checkbox]:checked:after,
ul > li.task-list-item[data-task="/"] input.task-list-item-checkbox[type=checkbox]:checked:after {
  -webkit-mask-image: none;
  background: unset;
  content: " ";
}