/* Want a different font? This is the file to change! (02-fonts.scss) */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Nothing+You+Could+Do&display=swap');

:root {
  --default-font: 'PT Sans', Helvetica Neue, Helvetica, Arial, sans-serif;

  --font-tags: Architects Daughter, Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-header: var(--font-tags);

  --cm-font-monospace: 'Fira Code', 'Source Code Pro', Jetbrains Mono, SFMono-Regular, Consolas, "Roboto Mono", monospace;
  --font-monospace: var(--cm-font-monospace);

  --line-height: 1.5em;
}
