/* Want a different font? This is the file to change! (02-fonts.scss) */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=IBM+Plex+Sans:wght@300;400;700&display=swap');

:root {
  --default-font: 'IBM Plex Sans', Helvetica Neue, Helvetica, Arial, sans-serif;

  --font-tags: Architects Daughter, Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-header: var(--font-tags);

  --font-monospace: 'Fira Code', 'Source Code Pro', Jetbrains Mono, SFMono-Regular, Consolas, 'Roboto Mono', monospace;
  --cm-font-monospace: var(--font-monospace);
}
