.theme-light {
    /** Core styles **/
    --background-primary: var(--gray-light-7);                 //  Note background
    --background-primary-alt: var(--gray-light-5);             //  Note title background

    --background-secondary: var(--gray-light-6);               //  Sidebar background
    --background-secondary-alt: var(--gray-light-2);           //  Sidebar title background

    --background-modifier-border: var(--gray-light-3);         //  Border outline of quotes, tables, line breaks
    --background-modifier-form-field: white;
    --background-modifier-form-field-highlighted: white;     // Search Bar Active Highlight
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
    --background-modifier-success: var(--green-2);      // Publish Upload Success Background
    --background-modifier-error: var(--pink-1);           // Delete Screen Button
    --background-modifier-error-rgb: var(--pink-5-rgb); // Ctrl F Search Background
    --background-modifier-error-hover: var(--pink-2);
    --background-modifier-cover: rgba(158, 158, 158, 0.2);   // Obsidian Title Bar

    --text-accent: var(--primary-accent-4);                  // Links
    --text-accent-hover: var(--secondary-accent-3);          // Links hover
    --text-normal: var(--gray-dark-5);                   // Text body of note
    --text-muted: var(--gray-dark-4);                    // Text darker for sidebar, toggles, inactive, tags, etc
    --text-muted-rgb: 33, 33, 33;
    --text-faint: var(--gray-dark-1);                    // Link brackets color

    --text-error: var(--pink-5);
    --text-error-hover: var(--pink-4);

    --text-highlight-fg: var(--text-normal);
    --text-highlight-bg: rgb(255, 255, 0, 0.4);
    --text-highlight-bg-active: rgba(255, 128, 0, 0.3);

    --text-selection: rgba(var(--secondary-accent-1-rgb), 0.2);

    /** Text on accent should work as foreground for all interactive elements */
    --text-on-accent: var(--gray-dark-6);                // Program Title bar text
    --interactive-normal: var(--blue-1);            // Button background Color
    --interactive-hover: var(--primary-accent-1);            // Button hover text; pin
    --interactive-accent: var(--secondary-accent-1);             // Workspace Note Title Underline
    --interactive-accent-rgb: var(--secondary-accent-1-rgb);    // Publish item select, Resize Handle
    --interactive-accent-hover: var(--secondary-accent-2);      // Menu Button Hover
    --interactive-success: var(--green-3);

    --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.08);
    --scrollbar-bg: rgba(0, 0, 0, 0.03);
    --scrollbar-thumb-bg: rgba(0, 0, 0, 0.05);
    --highlight-mix-blend-mode: lighten;                // Search Highlight Mode
}
