.theme-dark {
    /** Core styles **/
    --background-primary: var(--gray-dark-8);           //  Note background
    --background-primary-alt: var(--gray-dark-6);       //  Note title background

    --background-secondary: var(--gray-dark-7);         //  Sidebar/modal background, active/hover tab nav items, tab content, drag ghost, menu item hover
    --background-secondary-alt: var(--gray-dark-8);     //  muted button, checkbox container, kbd, modal border, modal button, tab nav items, vertical tab header, clickable tree item, card, drag ghost border

    --background-modifier-border: var(--gray-dark-8);   //  Border outline of quotes, tables, line breaks
    --background-modifier-form-field: rgba(0, 0, 0, 0.3);
    --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22); // Search Bar Active Highlight
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
    --background-modifier-success: var(--green-5);  //  with text-on-accent / Publish Upload Success Background
    --background-modifier-error: var(--pink-5);   //  with text-on-accent / Delete Screen Button
    --background-modifier-error-rgb: 61, 0, 0;           //  Ctrl F Search Background
    --background-modifier-error-hover: var(--pink-5);
    --background-modifier-cover: rgba(0, 0, 0, 0.8);   //  Obsidian Title Bar

    --text-accent: var(--pink-2);                        // Links
    --text-accent-hover: var(--pink-1);
    --text-normal: var(--gray-light-3);                  //  Text body of note
    --text-muted: var(--gray-light-1);                   //  Text darker for sidebar, toggles, inactive, tags, etc
    --text-muted-rgb: 153, 153, 153;
    --text-faint: var(--gray-dark-1);                    //  Link brackets color
    --text-error: var(--pink-5);
    --text-error-hover: var(--pink-5);

    --text-highlight-fg: var(--gray-dark-7);
    --text-highlight-bg: rgba(252, 232, 131, .9);
    --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
    --text-selection: rgba(var(--green-4-rgb), 0.7);

    /** Text on accent should work as foreground for all interactive elements */
    --text-on-accent: var(--gray-light-1);           //  Program Title bar text
    --interactive-normal: var(--green-4);           // Button background Color
    --interactive-hover: var(--purple-4);            // Button hover text; pin
    --interactive-accent: var(--green-4);           // Workspace Note Title Underline
    --interactive-accent-rgb: var(--purple-4-rgb);   // Publish item select, Resize Handle
    --interactive-accent-hover: var(--blue-1);       // Menu Button Hover
    --interactive-success: var(--green-3);

    --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
    --scrollbar-bg: rgba(255, 255, 255, 0.05);
    --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
    --highlight-mix-blend-mode: lighten;                 //  Search Highlight Mode
}
