:root {
  --leaf-header-width: 30px;
  --desktop-header-font-size: 12px;
  --active-leaf-action-hover: var(--yellow-1);
}
.theme-light {
  --leaf-fg: var(--gray-light-5);
  --sharp-border: 1px solid rgba(0, 0, 0, .1);
  --resize-handle-bg: var(--background-secondary-alt);
  --active-leaf-bg: linear-gradient(to top, var(--primary-accent-5), var(--primary-accent-4) 2%, var(--primary-accent-3) 15%, var(--primary-accent-3));
  --rotated-active-leaf-bg: linear-gradient(to left, var(--primary-accent-5), var(--primary-accent-4) 2%, var(--primary-accent-3) 15%, var(--primary-accent-3));
  --inactive-leaf-bg: linear-gradient(to top, var(--gray-dark-3), var(--gray-dark-2) 2%, var(--gray-dark-1) 15%, var(--gray-dark-1));
  --rotated-inactive-leaf-bg: linear-gradient(to left, var(--gray-dark-3), var(--gray-dark-2) 2%, var(--gray-dark-1) 15%, var(--gray-dark-1));
}
.theme-dark {
  --leaf-fg: var(--text-on-accent);
  --sharp-border: 1px solid rgba(0, 0, 0, 0.5);
  --resize-handle-bg: rgba(0, 0, 0, 0.5);
  --active-leaf-bg: linear-gradient(to top, var(--gray-dark-7), var(--primary-accent-6) 2%, var(--primary-accent-5) 15%, var(--primary-accent-5));
  --rotated-active-leaf-bg: linear-gradient(to left, var(--gray-dark-7), var(--primary-accent-6) 2%, var(--primary-accent-5) 15%, var(--primary-accent-5));
  --inactive-leaf-bg: linear-gradient(to top, var(--gray-dark-7), var(--gray-dark-6) 2%, var(--gray-dark-5) 15%, var(--gray-dark-5));
  --rotated-inactive-leaf-bg: linear-gradient(to left, var(--gray-dark-7), var(--gray-dark-6) 2%, var(--gray-dark-5) 15%, var(--gray-dark-5));
}
// --------------------------------------------------
// Common: inset title shading, monospace font
// Override common settings
// --------------------------------------------------
.workspace-split.mod-root > .workspace-leaf:first-of-type:last-of-type .view-header,
.view-header {
  background: var(--inactive-leaf-bg);
  border-bottom: var(--sharp-border);
}
.workspace-split.mod-root > .workspace-leaf:first-of-type:last-of-type.mod-active .view-header,
.workspace-leaf.mod-active .view-header {
  background: var(--active-leaf-bg) ;
  border-bottom: var(--sharp-border);
}
.view-action,
.view-header-icon,
.view-header-title,
.workspace-leaf.mod-active .view-header-title {
  color: var(--leaf-fg);
}
.view-header-title {
  font-weight: 500;
  font-family: var(--font-monospace);
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
}
.view-header-icon:hover,
.view-action:hover {
  color: var(--active-leaf-action-hover);
}
.view-header-title-container:after,
.workspace-leaf.mod-active .view-header-title-container:after,
.workspace-split.mod-root > .workspace-leaf:first-of-type:last-of-type.mod-active .view-header-title-container:after {
  background: none;
}
// ---- Thinner resize handle --------------
.workspace-leaf-resize-handle {
  background-color: var(--resize-handle-bg);
}
.workspace-leaf-resize-handle:hover {
  background-color: var(--interactive-accent);
}
.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle {
  height: 2px;
  border: none;
}
.workspace-split.mod-left-split > hr.workspace-leaf-resize-handle,
.workspace-split.mod-right-split > hr.workspace-leaf-resize-handle,
.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle {
  width: 2px;
  border: none;
}
// Fix the padding to account for skinnier handle
.workspace-split.mod-vertical > .workspace-leaf,
.workspace-split.mod-left-split .workspace-tabs {
  padding-right: 2px;
}
//---------------------------------------
// Mobile
//---------------------------------------
body.is-mobile {
  .view-header-title {
    -webkit-mask-image: none;
    font-size: 16px;
  }
}
//---------------------------------------
// Desktop
//---------------------------------------
body:not(.is-mobile) {
  .workspace-split.mod-horizontal.mod-left-split,
  .workspace-split.mod-horizontal.mod-right-split {
    min-width: 200px;
  }
  .workspace-split.mod-horizontal.mod-left-split {
    border-right: none;
  }
  .workspace-split.mod-horizontal.mod-right-split {
    border-left: none;
  }
  //A bit of separation for multiple groups in sidebars
  .workspace-tabs + .workspace-tabs {
    border-top: 1px solid var(--background-secondary-alt);
  }
  .workspace-tab-header,
  .workspace-tab-header-inner,
  .workspace-tab-container-before,
  .workspace-tab-container-after {
      transition: none;
  }
  // Sidebar collapse arrows
  .workspace-tabs .collapse-icon svg {
    transition: transform 100ms ease-in-out;
  }
  .collapse-icon {
    margin-top: -.1em;
  }
  .view-header {
    height: var(--leaf-header-width);
    align-items: center;
  }
  .view-header-title {
    font-size: var(--desktop-header-font-size);
    line-height: var(--leaf-header-width);
  }
  .view-content {
    width: 100%;
    height: calc(100% - var(--leaf-header-width));
  }
  .view-action,
  .view-actions,
  .view-header-icon {
    top: unset;
  }
  .view-action {
    margin: 0px 4px;
  }
  .view-actions,
  .view-header-icon {
    padding: 0px 4px;
  }
  .view-header-icon svg,
  .view-action svg {
    width: auto;
    height: 14px;
  }
}
//---------------------------------------
// Sliding panes
//---------------------------------------
// Hide the gradient of the title pane
body.plugin-sliding-panes .workspace > .mod-root > .workspace-leaf,
body.plugin-sliding-panes-rotate-header .workspace > .mod-root > .workspace-leaf {
  box-shadow: none !important;

  > .workspace-leaf-content > .view-header {
    .view-header-title-container:before,
    .view-header-title-container:after {
      background: none !important;
    }
  }
}
body.plugin-sliding-panes-stacking .workspace > .mod-root > .workspace-leaf:not(:first-of-type) {
  border-left: var(--sharp-border);
}
body.plugin-sliding-panes-rotate-header {
  .view-header-title {
    line-height: calc(var(--leaf-header-width) - 2px);
  }
  .workspace-split.mod-horizontal.mod-left-split {
    border-right: none;
  }
  .horizontal-main-container > .workspace {
    .mod-root > .workspace-leaf > .workspace-leaf-content {
      padding-left: var(--leaf-header-width);
    }
    > .mod-root > .workspace-leaf > .workspace-leaf-content > .view-header,
    .view-header {
      background: var(--rotated-inactive-leaf-bg);
      border-right: none;
      border-left: none;
      width: var(--leaf-header-width);

      .view-header-icon svg,
      .view-action svg {
        width: 14px;
        height: auto;
      }
    }

    > .mod-root > .workspace-leaf.mod-active > .workspace-leaf-content > .view-header {
      background: var(--rotated-active-leaf-bg) ;
      border-right: none;
      border-left: none;
    }
  }
}


