:root {
  --tags: var(--pink-4);
}

.cm-s-obsidian span.cm-hashtag,
.tag:not(.token) {
  color: var(--tags);
  font-family: var(--font-tags);
}

.CodeMirror-line span.cm-hashtag,
.cm-s-obsidian .cm-header.cm-hashtag,
.markdown-preview-section a.tag,
.markdown-preview-view h1 a.tag,
.markdown-preview-view h2 a.tag,
.markdown-preview-view h3 a.tag,
.markdown-preview-view h4 a.tag,
.markdown-preview-view h5 a.tag,
.markdown-preview-view h6 a.tag {
  text-decoration: none;
}
