.theme-dark {
  .markdown-preview-view blockquote {
    border-color: var(--secondary-accent-4);
    border-left: 3px solid var(--secondary-accent-4);
  }
  .markdown-preview-view blockquote:before {
    color: var(--secondary-accent-4);
  }
}
.theme-dark .print,
.theme-light {
  .markdown-preview-view blockquote {
    border-color: var(--secondary-accent-2);
    border-left: 3px solid var(--secondary-accent-2);
  }
  .markdown-preview-view blockquote:before {
    color: var(--secondary-accent-2);
  }
}
.markdown-preview-view blockquote {
  background-color: var(--background-primary-alt);
  margin: 0;
  padding-left: 1em;
  overflow-x: auto;
  position: relative;
}
blockquote p {
  margin: 0px;
}
