.theme-dark {
  --pre-code: var(--blue-2);
}
.theme-light {
  --pre-code: var(--blue-5);
}

.markdown-preview-view code {
  color: var(--pre-code);
}
// Specificity
.theme-dark,
.theme-light {
  .markdown-preview-view pre > code {
    border: none;
    background: none;
  }

  pre[class*="language-"],
  :not(pre) > code[class*="language-"],
  .markdown-preview-view pre {
    background: var(--background-primary);
    border-radius: 4px;
    border: 1px solid var(--background-modifier-border);
  }
}



