/*
Ebullientworks $version$ by @ebullient

This is a dark and light theme for Obsidian.

Additional tweaks available with the Style Settings plugin

Sponsor my work:
https://www.buymeacoffee.com/ebullient

Readme:
https://github.com/ebullient/obsidian-theme-ebullientworks
*/
/* @settings

name: Ebullientworks theme settings
id: ebullientworks-theme
settings:
  -
    id: ebullientworks-use-default-list-indent
    title: Use the default indent for lists
    description: This theme compresses list indent whitespace by default. Enable this to use the indent spacing from the default theme.
    type: class-toggle
    default: false
  -
    id: ebullientworks-nix-checkbox
    title: Suppress/Remove this checkbox styles
    description: Set this to true if you are going to use your own task snippet
    type: class-toggle
    default: false
  -
    id: ebullientworks-show-hide
    title: Showing and Hiding content
    type: heading
    level: 3
    collapsed: true
  -
    id: ebullientworks-show-edit-mode-external-links
    title: Show external links in edit mode
    description: If true, external links (or the content of markdown links) will be shown in edit mode. External links are hidden by default.
    type: class-toggle
    default: false
  -
    id: ebullientworks-hide-inactive-collapse-indicators
    title: Hide collapse indicators unless hovered or active
    description: If true, hide collapse indicators in all three modes unless they are hovered over or the line is active.
    type: class-toggle
    default: false
  -
    id: ebullientworks-floating-frontmatter
    title: Float front-matter in a box to the right
    description: If true, front-matter in preview mode will be collapsed in a top-right container.
    type: class-toggle
    default: false
  -
    id: ebullientworks-table-width
    title: Prevent table content from extending beyond the width of the page
    description: If true, tables will have a maximum width set. Cell content will be wrapped (mid-word if necessary).
    type: class-toggle
    default: false
  -
    id: ebullientworks-fonts
    title: Fonts
    type: heading
    level: 3
    collapsed: true
  -
    title: Headings
    description: Font for text headings (h1 to h6)
    id: font-header
    type: variable-text
    default: "'Architects Daughter', Helvetica Neue, Helvetica, Arial, sans-serif"
  -
    title: Tags
    description: Font for displaying inline #tags (edit and preview mode).
    id: font-tags
    type: variable-text
    default: "'Architects Daughter', Helvetica Neue, Helvetica, Arial, sans-serif"
  -
    title: Text
    description: Default text font for preview and edit mode.
    id: default-font
    type: variable-text
    default: "'IBM Plex Sans', Helvetica Neue, Helvetica, Arial, sans-serif"
  -
    title: Monospace
    id: font-monospace
    type: variable-text
    default: "'Fira Code', 'Source Code Pro', Jetbrains Mono, SFMono-Regular, Consolas, 'Roboto Mono', monospace"
  -
    id: ebullientworks-colors
    title: Colors
    type: heading
    level: 3
    collapsed: true
  -
    title: Primary accent color
    id: ebullientworks-primary-accent
    description: Choose the primary accent color. You should define a snippet if you select primary-accent-custom. See the Theme's README.
    type: class-select
    allowEmpty: false
    default: primary-accent-purple
    options:
        - primary-accent-purple
        - primary-accent-pink
        - primary-accent-green
        - primary-accent-teal
        - primary-accent-blue
        - primary-accent-custom
  -
    title: Secondary accent color
    id: ebullientworks-secondary-accent
    description: Choose the secondary accent color. You should define a snippet if you select secondary-accent-custom. See the Theme's README.
    type: class-select
    allowEmpty: false
    default: secondary-accent-green
    options:
        - secondary-accent-purple
        - secondary-accent-pink
        - secondary-accent-green
        - secondary-accent-teal
        - secondary-accent-blue
        - secondary-accent-custom
  -
    title: Tag brightness - dark mode
    id: tag-dark
    description: Select tag brightness/contrast level for dark mode
    type: variable-select
    allowEmpty: false
    default: var(--tag-4)
    options:
        - value: var(--tag-0)
          label: lightest
        - value: var(--tag-1)
          label: lighter
        - value: var(--tag-2)
          label: light
        - value: var(--tag-3)
          label: medium
        - value: var(--tag-4)
          label: dark
  -
    title: Tag brightness - light mode
    id: tag-light
    description: Select tag brightness/contrast level for light mode
    type: variable-select
    allowEmpty: false
    default: var(--tag-4)
    options:
        - value: var(--tag-2)
          label: light
        - value: var(--tag-3)
          label: medium
        - value: var(--tag-4)
          label: dark
        - value: var(--tag-5)
          label: darker
        - value: var(--tag-6)
          label: darkest
 */
:root {
  --line-height: 1.5em;
}

@import 'fragments/01-colors.scss';
@import 'fragments/02-fonts.scss';

@import 'fragments/03-core-theme-dark.scss';
@import 'fragments/03-core-theme-light.scss';
@import 'fragments/03a-workspace-layout.scss';
@import 'fragments/03b-workspace-view.scss';
@import 'fragments/03c-modal-input.scss';
@import 'fragments/03d-graph-view.scss';

@import 'fragments/04-headings-hr.scss';
@import 'fragments/05-text-links.scss';

@import 'fragments/06-lists-checkboxes.scss';
@import 'fragments/07-tags.scss';
@import 'fragments/08-blockquote.scss';
@import 'fragments/09-codeblocks.scss';
@import 'fragments/10-images-embeds.scss';

@import 'fragments/11-admonition.scss';
@import 'fragments/12-calendar-day-planner-tracker.scss';
@import 'fragments/13-timelines.scss';
@import 'fragments/14-frontmatter.scss';
@import 'fragments/15-table.scss';
@import 'fragments/16-hide-collapse-indicators.scss';
@import 'fragments/17-snippetor.scss';
