@use 'fragments/00-heading' as *;
@use 'fragments/06a-checkbox-mixin' as checkboxes;
body {
  --checkbox-checked: rgb(139, 167, 145);
  --checkbox-deferred: rgb(111, 166, 211);
  --checkbox-important: rgb(187, 79, 108);
  --checkbox-review: rgb(92, 122, 99);
  --checkbox-in-progress: rgb(89, 174, 170);
  --checkbox-question: rgb(234, 175, 0);

  --checkbox-cancelled: rgb(115, 115, 115);
  --checkbox-hover: rgb(137, 137, 137);
}
.theme-dark .print:not(.published-container),
.theme-light {
  --checkbox-cancelled: rgb(159, 159, 159);
  --checkbox-hover: rgb(137, 137, 137);
}

/** Deal with Blue Topaz masks */
li[data-task] input[type=checkbox]::before {
  transform: none !important;
  -webkit-mask-image: none !important;
}

@include checkboxes.list;

