body {
  // --tooltip-display: none;
  --popover-display: flex;
  --font-text-size: 16px;
  --font-text-theme: var(--ebw-font-text);
  --font-monospace-theme: var(--ebw-font-monospace);
  --font-interface-theme: var(--ebw-font-text);
  --font-mermaid: var(--ebw-font-monospace);
}
